openapi: 3.0.1
info:
  description: Quant’s Overledger API allows developers to create applications for
    multiple DLT’s using a single standard set of operations and data structures.In
    order to maintain the security of private keys, most operations have two steps
    – prepare and execute. The prepare step is the point at which all arguments are
    specified and standardised payloads are sent. Overledger converts this standard
    payload into a DLT-specific transaction object. In the execute step, the SDK signs
    the transaction object that Overledger created and submits it to Overledger to
    perform the operation
  title: Quant Overledger API
  version: "2.0"
  x-logo:
    url: https://developer.quant.network/images/quant_logo_white.png
servers:
- url: https://api.sandbox.overledger.io
tags:
- name: Create a Transaction
- name: Transaction Search
- name: mDApp Transaction Query
- name: Monitor a Resource
- name: Manage Monitored Resources
- name: Create a Subscription
- name: Manage Subscriptions
paths:
  /v2/nonfungibletoken:
    get:
      operationId: getNonFungibleToken
      parameters:
      - explode: true
        in: query
        name: tokenName
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: technology
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: network
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NonFungibleTokenDTO'
          description: OK
      tags:
      - token-controller
      x-accepts: '*/*'
  /v2/preparation/debit:
    post:
      description: Transforms a transaction request ready to be signed and returns
        a request ID for executing. The supported transaction types are “Approve Debit”
        and “Create Debit”. The ‘Approve Debit’ transaction type will allow you to
        approve someone to make a pull payment from your account and the “Create Debit”
        transaction type will create the payment to pull the approved amount from
        an account.
      operationId: prepareDebitRequest
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 5010
          minLength: 0
          pattern: ^Bearer [A-Za-z0-9\-_. ]{1,5010}$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              QRC20 Create Debit:
                description: QRC20 Create Debit
                summary: QRC20 Create Debit
                value:
                  location:
                    technology: Ethereum
                    network: Ropsten Testnet
                  type: Create Debit
                  urgency: normal
                  requestDetails:
                    payee:
                    - payment:
                        amount: "1.0"
                        unit: QNT
                      payeeId: 0x8917cf2A57DF39D311a96c53FCCA76dAFB25392B
                    message: OVL Transaction Message
                    payer:
                    - payerId: 0x08f0C8451eC8283638F35D863DfFD8c1e1b3E39d
                    overledgerSigningType: overledger-javascript-library
              QRC20 Approve Debit:
                description: QRC20 Approve Debit
                summary: QRC20 Approve Debit
                value:
                  location:
                    technology: Ethereum
                    network: Ropsten Testnet
                  type: Approve Debit
                  urgency: normal
                  requestDetails:
                    mandate:
                    - payment:
                        amount: "1.0"
                        unit: QNT
                      payeeId: 0x8917cf2A57DF39D311a96c53FCCA76dAFB25392B
                    message: OVL Transaction Message
                    payer:
                    - payerId: 0x08f0C8451eC8283638F35D863DfFD8c1e1b3E39d
                    overledgerSigningType: overledger-javascript-library
            schema:
              $ref: '#/components/schemas/PrepareCreditTransactionRequestSchema'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Prepare Response:
                  description: Prepare Response
                  value:
                    gatewayFee:
                      amount: "0"
                      unit: QNT
                    requestId: a7db0ee3-ed9c-409a-9b51-57075a570aa0
                    dltFee:
                      amount: "0.00213680000170944"
                      unit: ETH
                    nativeData:
                      chain: ropsten
                      data: 4f564c205472616e73616374696f6e204d657373616765
                      chainId: 3
                      gas: "21368"
                      maxPriorityFeePerGas: "100000000000"
                      to: 0x105360Ba21773A9175A8daba66CA6C7654F7A3f2
                      maxFeePerGas: "100000000080"
                      nonce: 1300
                      hardfork: london
                      value: "10000000000"
              schema:
                $ref: '#/components/schemas/PrepareTransactionResponse'
          description: All good!
        "400":
          content:
            application/json:
              examples:
                Bad Request:
                  description: Bad Request
                  value:
                    category: Validation Error
                    description: Technology data object is required and must be either
                      Ethereum, XRP Ledger or Bitcoin.
                    code: TXN04036
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                Bad Request:
                  description: Bad Request
                  value:
                    errors:
                    - message: Not authorised for the access to the endpoint!
                      code: 401
                    errorCount: 1
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorised
        "500":
          content:
            application/json:
              examples:
                "500 Something went wrong on our side":
                  description: 500 Something went wrong on our side
                  value:
                    path: /v2/preparation/transaction
                    error: Internal Server Error
                    message: No message available
                    timestamp: 2021-09-15T11:26:19.935+0000
                    status: 500
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
          description: Something went wrong on our side
      security:
      - OAuth2_Security_Scheme:
        - overledger/read.scope
      summary: Prepare a QRC20 token debit transaction for signing
      tags:
      - Create a QRC20 Debit Transaction
      x-contentType: application/json
      x-accepts: application/json
  /v2/tokenise/tokens/qrc20/secondary-account-owner:
    post:
      description: Submits a query to the Blockchain Network and returns whether an
        account is approved to make payments on behalf of another account for a particular
        QRC20 token.
      operationId: readQRC20SecondaryAccountOwner
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 5010
          minLength: 0
          pattern: ^Bearer [A-Za-z0-9\-_. ]{1,5010}$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Contract Secondary Owner Of a QRC20 Token:
                description: Contract Secondary Owner Of a QRC20 Token
                summary: Retrieve whether an account is approved to act on behalf
                  of another for a QRC20 token
                value:
                  tokenName: QNTNFT
                  responseDetails:
                    name: Approved Account
                    type: bool
                    value: "true"
                  location:
                    technology: Ethereum
                    network: Ropsten Testnet
                  requestId: a7db0ee3-ed9c-409a-9b51-57075a570aa0
            schema:
              $ref: '#/components/schemas/ReadContractOwnerRequestSchema'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Account Balance Of a QRC20 Token Response:
                  description: Account Balance Of a QRC20 Token Response
                  value:
                    tokenName: QNTNFT
                    responseDetails:
                      name: Approved Account
                      type: bool
                      value: "true"
                    location:
                      technology: Ethereum
                      network: Ropsten Testnet
                    requestId: a7db0ee3-ed9c-409a-9b51-57075a570aa0
              schema:
                $ref: '#/components/schemas/TokenReadQRC20Response'
          description: All good!
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseMessage'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                Not Authorized:
                  description: Not Authorized
                  value:
                    errors:
                    - message: Not authorised for the access to the endpoint!
                      code: 401
                    errorCount: 1
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorised
        "500":
          content:
            application/json:
              examples:
                "500 Something went wrong on our side":
                  description: 500 Something went wrong on our side
                  value:
                    path: /v2/preparation/transaction
                    error: Internal Server Error
                    message: No message available
                    timestamp: 2021-09-15T11:26:19.935+0000
                    status: 500
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
          description: Something went wrong on our side
      security:
      - OAuth2_Security_Scheme:
        - overledger/read.scope
      summary: Retrieve whether an account is approved to make payments on behalf
        of another account for a particular QRC20 token.
      tags:
      - Retrieve approved account information for a QRC20 token
      x-contentType: application/json
      x-accepts: application/json
  /v2/tokenise/tokens/subscription/qrc20/credit:
    post:
      description: Set up a subscription to receive updates to a callback URL each
        time there is a credit on a QRC20 token.
      operationId: subscribeCreditEvent
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 5010
          minLength: 0
          pattern: ^Bearer [A-Za-z0-9\-_. ]{1,5010}$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Subscribe To QRC20 Create Credit Event:
                description: Subscribe To QRC20 Create Credit Event
                summary: Subscribe To QRC20 Create Credit Event
                value:
                  location:
                    technology: Ethereum
                    network: Ethereum Goerli Testnet
                  callbackUrl: https://eo2vmypzncjgeoi.m.pipedream.net
                  type: Create Credit
                  requestDetails:
                    tokenUnit: QNTNS
            schema:
              $ref: '#/components/schemas/EventSubscriptionRequestSchema'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Create Credit:
                  description: Create Credit
                  value:
                    tokenName: QNTNS
                    subscriptionDetails:
                      subscriptionId: 62e8f146953593727a20b4b8
                      callbackUrl: https://eo2vmypzncjgeoi.m.pipedream.net
                      createdDate: 2022-06-15T09:51:04.551+00:00
                    location:
                      technology: ethereum
                      network: Ethereum Goerli Testnet
                    type: Create Credit
              schema:
                $ref: '#/components/schemas/EventSubscriptionResponse'
          description: All good!
        "400":
          content:
            application/json:
              examples:
                Bad Request:
                  description: Bad Request
                  value:
                    code: 400
                    type: Invalid-Request-Body
                    title: Request body is invalid
                    message: 'The request body sent in your API call was not what
                      we were expecting. It is either incorrect or does not include
                      all of the required objects/fields. The following field is missing
                      or null: requestDetails.tokenName'
              schema:
                $ref: '#/components/schemas/ErrorResponseMessage'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                Bad Request:
                  description: Bad Request
                  value:
                    errors:
                    - message: Not authorised for the access to the endpoint!
                      code: 401
                    errorCount: 1
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorised
        "500":
          content:
            application/json:
              examples:
                "500 Something went wrong on our side":
                  description: 500 Something went wrong on our side
                  value:
                    path: /v2/webhook/subscription/61406222b65cf749ea893c1a
                    error: Internal Server Error
                    message: No message available
                    timestamp: "1646908272"
                    status: 500
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
          description: Something went wrong on our side
      summary: Receive updates each time there is a credit payment on your account
      tags:
      - Subscribe to QRC20 account credit payments
      x-contentType: application/json
      x-accepts: application/json
  /v2/tokenise/preparation/transaction/qrc721/supply:
    post:
      description: Transforms a transaction request to manage QRC721 token supply
        ready to be signed and returns a request ID for executing. The supported types
        for this API are “Mint Tokens”, which will allow you to issue an new NFT for
        your QRC721 token, and "Burn Tokens" which will allow you to destroy your
        QRC721 token. Successfully prepared transactions can then be executed using
        the /execution/transaction API
      operationId: prepareSupplyRequest
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 5010
          minLength: 0
          pattern: ^Bearer [A-Za-z0-9\-_. ]{1,5010}$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              QRC721 Burn Tokens:
                description: QRC721 Burn Tokens
                summary: QRC721 Burn Tokens
                value:
                  location:
                    technology: Ethereum
                    network: Ropsten Testnet
                  type: Burn Tokens
                  urgency: normal
                  requestDetails:
                    owner:
                      accountId: 0xd8b31B65878a6B1a6cAf9f4819C1A42d68a7A116
                      burn:
                        tokenId: "2"
                        tokenName: QNTNFT
                        metadata: something
                    overledgerSigningType: overledger-javascript-library
              QRC721 Mint Tokens:
                description: QRC721 Mint Tokens
                summary: QRC721 Mint Tokens
                value:
                  location:
                    technology: Ethereum
                    network: Ropsten Testnet
                  type: Mint Tokens
                  urgency: normal
                  requestDetails:
                    beneficiary:
                      accountId: 0xd8b31B65878a6B1a6cAf9f4819C1A42d68a7A116
                      mint:
                        tokenId: "2"
                        tokenName: QNTNFT
                        metadata: something
                    creator:
                      accountId: 0xd8b31B65878a6B1a6cAf9f4819C1A42d68a7A116
                    overledgerSigningType: overledger-javascript-library
            schema:
              $ref: '#/components/schemas/PrepareMintTransactionRequestSchemaQrc721'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Prepare Supply Response:
                  description: Prepare Supply Response
                  value:
                    gatewayFee:
                      amount: "0"
                      unit: QNT
                    requestId: a7db0ee3-ed9c-409a-9b51-57075a570aa0
                    dltFee:
                      amount: "0.00213680000170944"
                      unit: ETH
                    nativeData:
                      chain: ropsten
                      data: 4f564c205472616e73616374696f6e204d657373616765
                      chainId: 3
                      gas: "21368"
                      maxPriorityFeePerGas: "100000000000"
                      to: 0x105360Ba21773A9175A8daba66CA6C7654F7A3f2
                      maxFeePerGas: "100000000080"
                      nonce: 1300
                      hardfork: london
                      value: "10000000000"
              schema:
                $ref: '#/components/schemas/PrepareTransactionResponse'
          description: All good!
        "401":
          content:
            application/json:
              examples:
                Bad Request:
                  description: Bad Request
                  value:
                    errors:
                    - message: Not authorised for the access to the endpoint!
                      code: 401
                    errorCount: 1
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorised
        "500":
          content:
            application/json:
              examples:
                "500 Something went wrong on our side":
                  description: 500 Something went wrong on our side
                  value:
                    path: /v2/preparation/transaction
                    error: Internal Server Error
                    message: No message available
                    timestamp: 2021-09-15T11:26:19.935+0000
                    status: 500
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
          description: Something went wrong on our side
      security:
      - OAuth2_Security_Scheme:
        - overledger/read.scope
      summary: Prepare a transaction to manage QRC721 token supply
      tags:
      - Manage QRC721 Token Supply
      x-contentType: application/json
      x-accepts: application/json
  /v2/execution/search/smartcontract:
    post:
      description: Takes a request ID and reads the smart contract on Ethereum based
        on the parameters specified in the prepare request.
      operationId: executePreparedSearchRequest
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 5010
          minLength: 0
          pattern: ^Bearer [A-Za-z0-9\-_. ]{1,5010}$
          type: string
        style: simple
      - explode: true
        in: query
        name: requestId
        required: true
        schema:
          maxLength: 36
          minLength: 0
          pattern: ^[A-Za-z0-9-]{1,36}$
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Execute Response:
                  description: Execute Response
                  value:
                    smartContract:
                      smartContractId: 0xF9cd6C86992Fce1481dBc4bDB7E1b101c1e8cEE2
                      function:
                        name: balanceOf
                        functionId: 0x70a08231
                        inputParameters:
                        - type: address
                          value: 0x8917cf2A57DF39D311a96c53FCCA76dAFB25392B
                        outputParameters:
                        - type: uint256
                          value: 141999998900488370000
                    location:
                      technology: Ethereum
                      network: Ropsten Testnet
              schema:
                $ref: '#/components/schemas/ExecuteSmartContractReadResponseSchema'
          description: All good!
        "401":
          content:
            application/json:
              examples:
                Not Authorized:
                  description: Not Authorized
                  value:
                    errors:
                    - message: Not authorised for the access to the endpoint!
                      code: 401
                    errorCount: 1
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorised
        "404":
          content:
            application/json:
              examples:
                Bad Request:
                  description: Bad Request
                  value:
                    category: Validation Error
                    description: Request ID 609e2199-db0c-4528-baf3-7392f026dae2 has
                      already been executed.
                    code: TXN04002
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        "500":
          content:
            application/json:
              examples:
                "500 Something went wrong on our side":
                  description: 500 Something went wrong on our side
                  value:
                    path: /v2/preparation/transaction
                    error: Internal Server Error
                    message: No message available
                    timestamp: 2021-09-15T11:26:19.935+0000
                    status: 500
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
          description: Something went wrong on our side
      security:
      - OAuth2_Security_Scheme:
        - overledger/read.scope
      summary: Execute a read of a smart contract on a DLT
      tags:
      - Smart Contract Search
      x-accepts: application/json
  /v2/tokens/fungible:
    get:
      description: Retrieves a list of fungible tokens supported by Overledger and
        which APIs and functions you can use for each. You can retrieve all fungible
        token types for all locations without providing parameters. If you want to
        see what tokens are supported for a specific contract type you can pass in
        either ERC20 or QRC20 as a contract type parameter. You can then filter further
        by including the resource using the technology and network parameters. You
        can also look for a specific token by passing in the unit as a parameter.
      operationId: getTokens
      parameters:
      - explode: true
        in: query
        name: location
        required: false
        schema:
          $ref: '#/components/schemas/Location'
        style: form
      - explode: true
        in: query
        name: contractType
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: unit
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Tokens:
                  description: Tokens
                  value:
                  - documentationUrl: https://docs.overledger.io
                    unit: BNB
                    decimalPlaces: 18
                    functions:
                    - type: Payment
                      api: /preparation/transaction
                    contractType: ERC20
                    location:
                      technology: Ethereum
                      network: Ropsten Testnet
                    smartContractId: 0x64bbf67a8251f7482330c33e65b08b835125e018
                  - documentationUrl: https://docs.overledger.io
                    unit: USDT
                    decimalPlaces: 6
                    functions:
                    - type: Payment
                      api: /preparation/transaction
                    contractType: ERC20
                    location:
                      technology: Ethereum
                      network: Ropsten Testnet
                    smartContractId: 0x03f7cef050aac29954a97334c00920aa8919dc37
                  - documentationUrl: https://docs.overledger.io
                    unit: LINK
                    decimalPlaces: 18
                    functions:
                    - type: Payment
                      api: /preparation/transaction
                    contractType: ERC20
                    location:
                      technology: ethereum
                      network: ropsten testnet
                    smartContractId: 0x39e4d3cacba1bdc19c35d0394e186a6c5b724ed3
                  - documentationUrl: https://docs.overledger.io
                    unit: QNT
                    decimalPlaces: 18
                    functions:
                    - type: Payment
                      api: /preparation/transaction
                    contractType: ERC20
                    location:
                      technology: Ethereum
                      network: Ropsten Testnet
                    smartContractId: 0xf9cd6c86992fce1481dbc4bdb7e1b101c1e8cee2
              schema:
                $ref: '#/components/schemas/FungibleTokenResponseDTO'
          description: All good!
        "400":
          content:
            application/json:
              examples:
                Bad Request:
                  description: Bad Request
                  value: Your request contains a contract type that is not currently
                    supported by Overledger. The contract type must be ERC20 or QRC20.
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                Bad Request:
                  description: Bad Request
                  value:
                    errors:
                    - message: Not authorised for the access to the endpoint!
                      code: 401
                    errorCount: 1
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorised
        "500":
          content:
            application/json:
              examples:
                "500 Something went wrong on our side":
                  description: 500 Something went wrong on our side
                  value:
                    path: /v2/tokens/fungible
                    error: Internal Server Error
                    message: No message available
                    timestamp: 2022-03-15T08:58:54.118+0000
                    status: 500
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
          description: Something went wrong on our side
      summary: Retrieve a list of ERC20 and QRC20 tokens
      tags:
      - Supported Fungible Tokens
      x-accepts: application/json
  /v2/execution/search/address/sequence:
    post:
      description: Takes a request ID, searches for the address and retrieves the
        sequence on the requested DLT. This API is only applicable for account based
        DLT’s
      operationId: executePreparedSearchRequestAddressSequence
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 5010
          minLength: 0
          pattern: ^Bearer [A-Za-z0-9\-_. ]{1,5010}$
          type: string
        style: simple
      - explode: true
        in: query
        name: requestId
        required: true
        schema:
          maxLength: 36
          minLength: 0
          pattern: ^[A-Za-z0-9-]{1,36}$
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Execute Response:
                  description: Execute Response
                  value:
                    sequence: "1848"
                    location:
                      technology: Ethereum
                      network: Ropsten Testnet
                    addressId: 0x650A87cfB9165C9F4Ccc7B971D971f50f753e761
              schema:
                $ref: '#/components/schemas/ExecuteSearchSequenceResponse'
          description: All good!
        "401":
          content:
            application/json:
              examples:
                Not Authorized:
                  description: Not Authorized
                  value:
                    errors:
                    - message: Not authorised for the access to the endpoint!
                      code: 401
                    errorCount: 1
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorised
        "404":
          content:
            application/json:
              examples:
                Bad Request:
                  description: Bad Request
                  value:
                    category: Validation Error
                    description: Request ID 609e2199-db0c-4528-baf3-7392f026dae2 has
                      already been executed.
                    code: TXN04002
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        "500":
          content:
            application/json:
              examples:
                "500 Something went wrong on our side":
                  description: 500 Something went wrong on our side
                  value:
                    path: /v2/preparation/transaction
                    error: Internal Server Error
                    message: No message available
                    timestamp: 2021-09-15T11:26:19.935+0000
                    status: 500
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
          description: Something went wrong on our side
      security:
      - OAuth2_Security_Scheme:
        - overledger/read.scope
      summary: Execute a search for an address sequence on a DLT
      tags:
      - Address Search
      x-accepts: application/json
  /v2/tokenise/tokens/{flowType}/current-supply:
    post:
      description: Submits a query to the Blockchain Network and returns the number
        of QRC tokens that are currently in circulation after tokens have been minted
        and burned.
      operationId: readQRC721SmartContractCurrentSupply
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 5010
          minLength: 0
          pattern: ^Bearer [A-Za-z0-9\-_. ]{1,5010}$
          type: string
        style: simple
      - explode: false
        in: path
        name: flowType
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepareRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Current Supply Of a QRC721 Token Response:
                  description: Current Supply Of a QRC721 Token Response
                  value:
                    tokenName: QNTNFT
                    responseDetails:
                      name: Current Supply
                      type: uint256
                      value: "1200"
                    location:
                      technology: Ethereum
                      network: Ropsten Testnet
                    requestId: a7db0ee3-ed9c-409a-9b51-57075a570aa0
              schema:
                $ref: '#/components/schemas/TokenReadQRC721Response'
          description: All good!
        "400":
          content:
            application/json:
              examples:
                Invalid Request-Token Name:
                  description: Invalid Request-Token Name
                  value:
                    code: 400
                    type: Invalid-Request-Body
                    title: Request body is invalid
                    message: 'The request body sent in your API call was not what
                      we were expecting. It is either incorrect or does not include
                      all of the required objects/fields. The following field is missing
                      or null: requestDetails.tokenName'
              schema:
                $ref: '#/components/schemas/ErrorResponseMessage'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                Not Authorized:
                  description: Not Authorized
                  value:
                    errors:
                    - message: Not authorised for the access to the endpoint!
                      code: 401
                    errorCount: 1
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorised
        "500":
          content:
            application/json:
              examples:
                "500 Something went wrong on our side":
                  description: 500 Something went wrong on our side
                  value:
                    path: /v2/preparation/transaction
                    error: Internal Server Error
                    message: No message available
                    timestamp: 2021-09-15T11:26:19.935+0000
                    status: 500
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
          description: Something went wrong on our side
      security:
      - OAuth2_Security_Scheme:
        - overledger/read.scope
      summary: Retrieve how many QRC tokens are currently in supply
      tags:
      - Retrieve supply information for a QRC token
      x-contentType: application/json
      x-accepts: application/json
  /v2/execution/search/transaction:
    post:
      description: Takes a request ID and searches for the transaction on the requested
        DLT
      operationId: executePreparedSearchRequestTransaction
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 5010
          minLength: 0
          pattern: ^Bearer [A-Za-z0-9\-_. ]{1,5010}$
          type: string
        style: simple
      - explode: true
        in: query
        name: requestId
        required: true
        schema:
          maxLength: 36
          minLength: 0
          pattern: ^[A-Za-z0-9-]{1,36}$
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Execute Response:
                  description: Execute Response
                  value:
                    location:
                      technology: Ethereum
                      network: Ropsten Testnet
                    type: PAYMENT
                    transaction:
                      signature:
                      - 0xb04ffb9b699a1cf1c9d63d07b16a250ba7d682b07556a4267296a09a0e112cd2
                      - 0x76352abdb2eca00e0390ba70ec822dd6cf081dff302645da04cc5c60c9ccc685
                      - "42"
                      origin:
                      - sequence: "1143"
                        originId: 0x650a87cfb9165c9f4ccc7b971d971f50f753e761
                      destination:
                      - destinationId: 0xb3ea4d180f31b4000f2fbcc58a085ef2ffd5a763
                      totalPaymentAmount:
                      - amount: "0"
                        unit: ETH
                      message: OVL SDK Test
                      transactionId: 0x124b79341eac1dbe05ad66508d0865ef2b64a2af05087457ea015af1e8b34737
                      nativeData:
                        gasRaw: 0x13880
                        blockHash: 0xf4291d3de8b16499523eea3b164d69918d157a4d2d3a5e6995d7d9e4baf4702c
                        transactionIndexRaw: 0x2
                        valueRaw: 0x0
                        transactionIndex: 2
                        nonce: 1143
                        input: 0x4f564c2053444b2054657374
                        gasPriceRaw: 0x1dcd65000
                        r: 0xb04ffb9b699a1cf1c9d63d07b16a250ba7d682b07556a4267296a09a0e112cd2
                        s: 0x76352abdb2eca00e0390ba70ec822dd6cf081dff302645da04cc5c60c9ccc685
                        blockNumberRaw: 0x99bff5
                        nonceRaw: 0x477
                        chainId: 3
                        v: 42
                        blockNumber: 10076149
                        gas: 80000
                        from: 0x650a87cfb9165c9f4ccc7b971d971f50f753e761
                        to: 0xb3ea4d180f31b4000f2fbcc58a085ef2ffd5a763
                        value: 0
                        hash: 0x124b79341eac1dbe05ad66508d0865ef2b64a2af05087457ea015af1e8b34737
                        gasPrice: 8000000000
                    timestamp: "1624007506"
                    status:
                      description: Transaction successful
                      code: TXN1003
                      message: Transaction successful
                      value: SUCCESSFUL
                      timestamp: "1624007506"
              schema:
                $ref: '#/components/schemas/ExecuteSearchTransactionResponse'
          description: All good!
        "400":
          content:
            application/json:
              examples:
                Bad Request:
                  description: Bad Request
                  value:
                    category: Constraint Violations
                    description: 'java.lang.IllegalArgumentException: Invalid UUID
                      string: 1'
                    code: "400"
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                Not Authorized:
                  description: Not Authorized
                  value:
                    errors:
                    - message: Not authorised for the access to the endpoint!
                      code: 401
                    errorCount: 1
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorised
        "404":
          content:
            application/json:
              examples:
                Bad Request:
                  description: Bad Request
                  value:
                    category: Validation Error
                    description: Request ID 609e2199-db0c-4528-baf3-7392f026dae2 has
                      already been executed.
                    code: TXN04002
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        "500":
          content:
            application/json:
              examples:
                "500 Something went wrong on our side":
                  description: 500 Something went wrong on our side
                  value:
                    path: /v2/preparation/transaction
                    error: Internal Server Error
                    message: No message available
                    timestamp: 2021-09-15T11:26:19.935+0000
                    status: 500
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
          description: Something went wrong on our side
      security:
      - OAuth2_Security_Scheme:
        - overledger/read.scope
      summary: Execute a search for a transaction on a DLT
      tags:
      - Transaction Search
      x-accepts: application/json
  /v2/tokenise/tokens/subscription/qrc20/debit:
    post:
      description: Set up a subscription to receive updates to a callback URL each
        time there is a debit on a QRC20 token or a QRC20 debit is approved. Use the
        type "Create Debit" to get an update when there is a debit payment on your
        account or "Approve Debit" to receive an update each time a token has been
        approved for debit.
      operationId: subscribeQRC20DebitEvent
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 5010
          minLength: 0
          pattern: ^Bearer [A-Za-z0-9\-_. ]{1,5010}$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Subscribe To QRC20 Create Debit Event:
                description: Subscribe To QRC20 Create Debit Event
                summary: Subscribe To QRC20 Create Debit Event
                value:
                  location:
                    technology: Ethereum
                    network: Ethereum Goerli Testnet
                  callbackUrl: https://eo2vmypzncjgeoi.m.pipedream.net
                  type: Create Debit
                  requestDetails:
                    tokenUnit: QNTNS
              Subscribe QRC20 Approve Debit Event:
                description: Subscribe QRC20 Approve Debit Event
                summary: Subscribe QRC20 Approve Debit Event
                value:
                  location:
                    technology: Ethereum
                    network: Ethereum Goerli Testnet
                  callbackUrl: www.karenisgreat.com
                  type: Approve Debit
                  requestDetails:
                    tokenUnit: QNTNFT
            schema:
              $ref: '#/components/schemas/EventSubscriptionRequestSchema'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Create Debit:
                  description: Create Debit
                  value:
                    tokenUnit: QNTNS
                    subscriptionDetails:
                      subscriptionId: 62e8f146953593727a20b4b8
                      callbackUrl: https://webhook.site/444bd1dc
                      createdDate: 2023-01-08T12:29:47.130+00:00
                    location:
                      technology: ethereum
                      network: Ethereum Goerli Testnet
                    type: Create Debit
                Approve Debit:
                  description: Approve Debit
                  value:
                    tokenUnit: QNTNFT
                    subscriptionDetails:
                      subscriptionId: 12312-123-13123-123
                      callbackUrl: www.Firouzeh.com
                      createdDate: "12312345"
                    location:
                      technology: Ethereum Goerli Testnet
                      network: Ethereum
                    type: Approve Debit
              schema:
                $ref: '#/components/schemas/EventSubscriptionResponse'
          description: All good!
        "400":
          content:
            application/json:
              examples:
                Bad Request:
                  description: Bad Request
                  value:
                    code: 400
                    type: Invalid-Request-Body
                    title: Request body is invalid
                    message: 'The request body sent in your API call was not what
                      we were expecting. It is either incorrect or does not include
                      all of the required objects/fields. The following field is missing
                      or null: requestDetails.tokenName'
              schema:
                $ref: '#/components/schemas/ErrorResponseMessage'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                Bad Request:
                  description: Bad Request
                  value:
                    errors:
                    - message: Not authorised for the access to the endpoint!
                      code: 401
                    errorCount: 1
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorised
        "500":
          content:
            application/json:
              examples:
                "500 Something went wrong on our side":
                  description: 500 Something went wrong on our side
                  value:
                    path: /v2/webhook/subscription/61406222b65cf749ea893c1a
                    error: Internal Server Error
                    message: No message available
                    timestamp: "1646908272"
                    status: 500
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
          description: Something went wrong on our side
      summary: Receive updates each time there is a debit transaction on QRC20 token
        or a QRC20 debit is approved
      tags:
      - Subscribe to QRC20 account debit payments
      x-contentType: application/json
      x-accepts: application/json
  /v2/autoexecution/search/transaction:
    post:
      description: Generates a request ID and automatically executes the transaction
        search on the requested DLT.
      operationId: autoExecuteSearchTransactionRequest
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 5010
          minLength: 0
          pattern: ^Bearer [A-Za-z0-9\-_. ]{1,5010}$
          type: string
        style: simple
      - description: The transactionId to search for
        examples:
          Ethereum transactionId:
            description: Ethereum transactionId
            value: 0x5169fb4538904777b272041ef2ec43a6cfa69515dffead2809d54d9f53c172ab
          XRP Ledger transactionId:
            description: XRP Ledger transactionId
            value: B607F776D63565E390A52A141AE89F4524CA328BB2B74BB71366579CA25E22F4
          Substrate transactionId:
            description: 'Warning: In substrate blocks, the first two entries are
              not transactions. Because of this, searching for a transactionId ending
              in -0 or -1 is not a valid transaction search for the substrate technology,
              e.g. 10293332-0 or10293332-1'
            value: 10783325-2
          Bitcoin transactionId:
            description: Bitcoin transactionId
            value: 4dcbb2bc8e8da15e00184612a698b84e102a5d2fde0d041364479f470954860b
          Polygon transactionId:
            description: Polygon transactionId
            value: 0x5169fb4538904777b272041ef2ec43a6cfa69515dffead2809d54d9f53c172ab
          Hyperledger Fabric transactionId:
            description: Hyperledger Fabric transactionId
            value: 0a227635ac146b0031e47825708bb61fc0c8647b5f6f73f5f16f02f9cc877752
        explode: true
        in: query
        name: transactionId
        required: true
        schema:
          maxLength: 100
          minLength: 0
          pattern: ^[a-zA-Z0-9-]{1,100}$
          type: string
        style: form
      requestBody:
        content:
          application/json:
            examples:
              Prepare And Execute Transaction Search:
                description: Prepare And Execute Transaction Search
                summary: Prepare And Execute Transaction Search
                value:
                  location:
                    technology: Ethereum
                    network: Ropsten Testnet
            schema:
              $ref: '#/components/schemas/PrepareSearchSchema'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful Prepare and Failed Execute Response:
                  description: Successful Prepare and Failed Execute Response
                  value:
                    preparationTransactionSearchResponse:
                      gatewayFee:
                        amount: "0"
                        unit: QNT
                      requestId: db52bd25-ff9f-49e2-ad07-7e782a70cec2
                    executionTransactionSearchOverledgerErrorResponse:
                      category: Validation Error
                      description: Your free trial has ended.
                      code: TRS04004
                Successful Prepare and Execute Response:
                  description: Successful Prepare and Execute Response
                  value:
                    preparationTransactionSearchResponse:
                      gatewayFee:
                        amount: "0"
                        unit: QNT
                      requestId: 50574948-b140-47a7-a897-1bd9f6ef0929
                    executionTransactionSearchResponse:
                      location:
                        technology: Ethereum
                        network: Ropsten Testnet
                      type: CONTRACT_CREATION
                      transaction:
                        destination:
                        - destinationId: 0x4a02c0dc2658b12c77a35307c091b8eec60c1a62
                        totalPaymentAmount:
                        - amount: "0"
                          unit: ETH
                        signature:
                        - 0xeaae6e89e19d65daf570f7926e19dddcec5c0cba81fc8b15794f05e6cc49a924
                        - 0x45048a7377deeab5b29b3a497107f616be27d46b5127188613f1cff9f5d087e9
                        - "28"
                        transactionId: 0x64c8b77426e500e7ac9af3c1c79c60ea5b325bc6b5f4238fb6d62a91f6b70275
                        origin:
                        - sequence: "3"
                          originId: 0xfc4f441e29a38a6323fa4da998227b0ff9e0cd45
                        nativeData:
                          gasRaw: 0x5817f
                          blockHash: 0xad8d1b5d73ae5384202f4455c498b86ea42d12ea1473128e6300bf4529964fd9
                          transactionIndexRaw: 0x4
                          valueRaw: 0x0
                          transactionIndex: 4
                          type: 0x0
                          nonce: 3
                          gasPriceRaw: 0x3b9aca0e
                          input: 0x608060405234801561001057600080fd5b506127106000803273ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff168152602001908152602001600020819055506103d6806100656000396000f3fe608060405234801561001057600080fd5b50600436106100415760003560e01c80637bd703e81461004657806390b98a111461009e578063f8b2cb4f14610104575b600080fd5b6100886004803603602081101561005c57600080fd5b81019080803573ffffffffffffffffffffffffffffffffffffffff16906020019092919050505061015c565b6040518082815260200191505060405180910390f35b6100ea600480360360408110156100b457600080fd5b81019080803573ffffffffffffffffffffffffffffffffffffffff16906020019092919080359060200190929190505050610200565b604051808215151515815260200191505060405180910390f35b6101466004803603602081101561011a57600080fd5b81019080803573ffffffffffffffffffffffffffffffffffffffff169060200190929190505050610359565b6040518082815260200191505060405180910390f35b60007388c1ca5917c29a361fed82d98a1492617515f8146396e4ee3d61018184610359565b60026040518363ffffffff1660e01b8152600401808381526020018281526020019250505060206040518083038186803b1580156101be57600080fd5b505af41580156101d2573d6000803e3d6000fd5b505050506040513d60208110156101e857600080fd5b81019080805190602001909291905050509050919050565b6000816000803373ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff1681526020019081526020016000205410156102515760009050610353565b816000803373ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff16815260200190815260200160002060008282540392505081905550816000808573ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff168152602001908152602001600020600082825401925050819055508273ffffffffffffffffffffffffffffffffffffffff163373ffffffffffffffffffffffffffffffffffffffff167fddf252ad1be2c89b69c2b068fc378daa952ba7f163c4a11628f55a4df523b3ef846040518082815260200191505060405180910390a3600190505b92915050565b60008060008373ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff16815260200190815260200160002054905091905056fea265627a7a72315820dc4476efcd2381d275d9c3bced7d4316d8c557c2e03ece057484ee7dfdc733ac64736f6c63430005100032
                          r: 0xeaae6e89e19d65daf570f7926e19dddcec5c0cba81fc8b15794f05e6cc49a924
                          s: 0x45048a7377deeab5b29b3a497107f616be27d46b5127188613f1cff9f5d087e9
                          blockNumberRaw: 0xab53b0
                          nonceRaw: 0x3
                          v: 28
                          blockNumber: 11228080
                          gas: 360831
                          creates: 0x4a02c0dc2658b12c77a35307c091b8eec60c1a62
                          from: 0xfc4f441e29a38a6323fa4da998227b0ff9e0cd45
                          value: 0
                          hash: 0x64c8b77426e500e7ac9af3c1c79c60ea5b325bc6b5f4238fb6d62a91f6b70275
                          gasPrice: 1000000014
                      timestamp: "1624007506"
                      status:
                        description: Transaction successful
                        code: TXN1003
                        message: Transaction successful
                        value: SUCCESSFUL
                        timestamp: "1624007506"
              schema:
                $ref: '#/components/schemas/PrepareAndExecuteTransactionResponse'
          description: All good!
        "400":
          content:
            application/json:
              examples:
                Bad Request:
                  description: Bad Request
                  value:
                    category: ""
                    description: transaction ID 0x64c8b77426e500e7ac9af3c1c79c60ea5b325bc6b5f4238fb6d62a91f6b702
                      for Ethereum is the incorrect format.
                    code: ""
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                Not Authorized:
                  description: Not Authorized
                  value:
                    errors:
                    - message: Not authorised for the access to the endpoint!
                      code: 401
                    errorCount: 1
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorised
        "404":
          content:
            application/json:
              examples:
                Bad Request:
                  description: Bad Request
                  value:
                    category: ""
                    description: Transaction ID da2e77de3edb175744ff8502ad9dbcfbfe070a156aec6714823a621cd4bf355f
                      was not found on Bitcoin DLT Connector.
                    code: ""
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        "500":
          content:
            application/json:
              examples:
                "500 Something went wrong on our side":
                  description: 500 Something went wrong on our side
                  value:
                    path: /v2/preparation/transaction
                    error: Internal Server Error
                    message: No message available
                    timestamp: 2021-09-15T11:26:19.935+0000
                    status: 500
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
          description: Something went wrong on our side
      security:
      - OAuth2_Security_Scheme:
        - overledger/read.scope
      summary: Prepare and automatically execute a search for a transaction on a DLT.
      tags:
      - Transaction Search
      x-contentType: application/json
      x-accepts: application/json
  /v2/preparation/search/utxo/{utxoId}:
    post:
      description: Returns a request ID for executing a search for the status ofa
        UTXO on UTXO based DLT’s
      operationId: prepareSearchUTXOState
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 5010
          minLength: 0
          pattern: ^Bearer [A-Za-z0-9\-_. ]{1,5010}$
          type: string
        style: simple
      - explode: false
        in: path
        name: utxoId
        required: true
        schema:
          maxLength: 100
          minLength: 0
          pattern: '^[a-zA-Z0-9-: ]{1,100}$'
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              UTXO Transaction Search:
                description: UTXO Transaction Search
                summary: UTXO Transaction Search
                value:
                  location:
                    technology: Bitcoin
                    network: Testnet
            schema:
              $ref: '#/components/schemas/PrepareSearchSchema'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Prepare Response:
                  description: Prepare Response
                  value:
                    gatewayFee:
                      amount: "0"
                      unit: QNT
                    requestId: 13765b06-eaf3-4f02-acb4-b7e9da8b0380
              schema:
                $ref: '#/components/schemas/PrepareSearchResponseSchema'
          description: All good!
        "401":
          content:
            application/json:
              examples:
                Bad Request:
                  description: Bad Request
                  value:
                    errors:
                    - message: Not authorised for the access to the endpoint!
                      code: 401
                    errorCount: 1
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorised
        "500":
          content:
            application/json:
              examples:
                "500 Something went wrong on our side":
                  description: 500 Something went wrong on our side
                  value:
                    path: /v2/preparation/transaction
                    error: Internal Server Error
                    message: No message available
                    timestamp: 2021-09-15T11:26:19.935+0000
                    status: 500
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
          description: Something went wrong on our side
      security:
      - OAuth2_Security_Scheme:
        - overledger/read.scope
      summary: Prepare Search for a UTXO State.
      tags:
      - UTXO Status Search
      x-contentType: application/json
      x-accepts: application/json
  /v2/tokenise/tokens/subscription/qrc20/secondaryaccountowner:
    post:
      description: Set up a subscription to receive updates to a callback URL each
        time a secondary account owner is added or removed using the "Add Account"
        & "Remove Account" Request Types. Also sends update when a shared account
        creates a QRC20 credit payment using the "Create Credit" Request Type.
      operationId: subscribeSecondaryOwnerEvent
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 5010
          minLength: 0
          pattern: ^Bearer [A-Za-z0-9\-_. ]{1,5010}$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Subscribe To QRC20 Add Secondary Owner Event:
                description: Subscribe To QRC20 Add Secondary Owner Event
                summary: Subscribe To QRC20 Add Secondary Owner Event
                value:
                  location:
                    technology: Ethereum
                    network: Ethereum Goerli Testnet
                  callbackUrl: https://eo2vmypzncjgeoi.m.pipedream.net
                  type: Add Account
                  requestDetails:
                    tokenUnit: QNTNS
              Subscribe To QRC20 Secondary Owner Credit Event:
                description: Subscribe To QRC20 Secondary Owner Credit Event
                summary: Subscribe To QRC20 Secondary Owner Credit Event
                value:
                  location:
                    technology: Ethereum
                    network: Ethereum Goerli Testnet
                  callbackUrl: https://eo2vmypzncjgeoi.m.pipedream.net
                  type: Create Credit
                  requestDetails:
                    tokenUnit: QNTNS
              Subscribe To QRC20 Remove Secondary Owner Event:
                description: Subscribe To QRC20 Remove Secondary Owner Event
                summary: Subscribe To QRC20 Remove Secondary Owner Event
                value:
                  location:
                    technology: Ethereum
                    network: Ethereum Goerli Testnet
                  callbackUrl: https://eo2vmypzncjgeoi.m.pipedream.net
                  type: Remove Account
                  requestDetails:
                    tokenUnit: QNTNS
            schema:
              $ref: '#/components/schemas/EventSubscriptionRequestSchema'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Add Account:
                  description: Add Account
                  value:
                    tokenName: QNTNS
                    subscriptionDetails:
                      subscriptionId: 62e8f146953593727a20b4b8
                      callbackUrl: https://eo2vmypzncjgeoi.m.pipedream.net
                      createdDate: 2022-06-15T09:51:04.551+00:00
                    location:
                      technology: ethereum
                      network: Ethereum Goerli Testnet
                    type: Add Account
                Remove Account:
                  description: Remove Account
                  value:
                    tokenName: QNTNS
                    subscriptionDetails:
                      subscriptionId: 62e8f146953593727a20b4b8
                      callbackUrl: https://eo2vmypzncjgeoi.m.pipedream.net
                      createdDate: 2022-06-15T09:51:04.551+00:00
                    location:
                      technology: ethereum
                      network: Ethereum Goerli Testnet
                    type: Remove Account
                Create Credit:
                  description: Create Credit
                  value:
                    tokenName: QNTNS
                    subscriptionDetails:
                      subscriptionId: 62e8f146953593727a20b4b8
                      callbackUrl: https://eo2vmypzncjgeoi.m.pipedream.net
                      createdDate: 2022-06-15T09:51:04.551+00:00
                    location:
                      technology: ethereum
                      network: Ethereum Goerli Testnet
                    type: Create Credit
              schema:
                $ref: '#/components/schemas/EventSubscriptionResponse'
          description: All good!
        "400":
          content:
            application/json:
              examples:
                Bad Request:
                  description: Bad Request
                  value:
                    code: 400
                    type: Invalid-Request-Body
                    title: Request body is invalid
                    message: 'The request body sent in your API call was not what
                      we were expecting. It is either incorrect or does not include
                      all of the required objects/fields. The following field is missing
                      or null: requestDetails.tokenName'
              schema:
                $ref: '#/components/schemas/ErrorResponseMessage'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                Bad Request:
                  description: Bad Request
                  value:
                    errors:
                    - message: Not authorised for the access to the endpoint!
                      code: 401
                    errorCount: 1
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorised
        "500":
          content:
            application/json:
              examples:
                "500 Something went wrong on our side":
                  description: 500 Something went wrong on our side
                  value:
                    path: /v2/webhook/subscription/61406222b65cf749ea893c1a
                    error: Internal Server Error
                    message: No message available
                    timestamp: "1646908272"
                    status: 500
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
          description: Something went wrong on our side
      summary: Receive updates for a shared account
      tags:
      - Subscribe to QRC20 shared account updates
      x-contentType: application/json
      x-accepts: application/json
  /v2/tokenise/tokens/qrc721/token-owner:
    post:
      description: Submits a query to the DLN and returns the address that currently
        has owns a particular QRC721 token.
      operationId: readQRC721SmartContractTokenOwner
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 5010
          minLength: 0
          pattern: ^Bearer [A-Za-z0-9\-_. ]{1,5010}$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Token Owner Of a QRC721 Token:
                description: Token Owner Of a QRC721 Token
                summary: Owner Of a QRC721 Token
                value:
                  requestDetails:
                    tokenId: "1"
                    tokenName: QNTNFT
                  location:
                    technology: Ethereum
                    network: Ropsten Testnet
            schema:
              $ref: '#/components/schemas/ReadTokenOwnerRequestSchema'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Token Owner Of a QRC721 Token Response:
                  description: Token Owner Of a QRC721 Token Response
                  value:
                    tokenName: QNTNFT
                    responseDetails:
                      name: Token Owner
                      type: Address
                      value: 0x708d1C75e5880a9942f49e17483Cb8d58118D395
                    location:
                      technology: Ethereum
                      network: Ropsten Testnet
                    requestId: a7db0ee3-ed9c-409a-9b51-57075a570aa0
              schema:
                $ref: '#/components/schemas/TokenReadQRC721Response'
          description: All good!
        "400":
          content:
            application/json:
              examples:
                Invalid Request-Token Name:
                  description: Invalid Request-Token Name
                  value:
                    code: 400
                    type: Invalid-Request-Body
                    title: Request body is invalid
                    message: 'The request body sent in your API call was not what
                      we were expecting. It is either incorrect or does not include
                      all of the required objects/fields. The following field is missing
                      or null: requestDetails.tokenName'
              schema:
                $ref: '#/components/schemas/ErrorResponseMessage'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                Not Authorized:
                  description: Not Authorized
                  value:
                    errors:
                    - message: Not authorised for the access to the endpoint!
                      code: 401
                    errorCount: 1
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorised
        "500":
          content:
            application/json:
              examples:
                "500 Something went wrong on our side":
                  description: 500 Something went wrong on our side
                  value:
                    path: /v2/preparation/transaction
                    error: Internal Server Error
                    message: No message available
                    timestamp: 2021-09-15T11:26:19.935+0000
                    status: 500
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
          description: Something went wrong on our side
      security:
      - OAuth2_Security_Scheme:
        - overledger/read.scope
      summary: Retrieve which account currently owns a specific QRC721 token
      tags:
      - Retrieve owner information for a QRC721 token
      x-contentType: application/json
      x-accepts: application/json
  /v2/webhook/subscription/{subscriptionId}:
    delete:
      description: Deletes a subscription created by your application based onthe
        given Subscription ID. Deleting a subscription will stop updates being sent
        to the requested callback URL
      operationId: deleteSubscription
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 5010
          minLength: 0
          pattern: ^Bearer [A-Za-z0-9\-_. ]{1,5010}$
          type: string
        style: simple
      - explode: false
        in: path
        name: subscriptionId
        required: true
        schema:
          maxLength: 24
          minLength: 0
          pattern: ^[a-z0-9-]{1,24}$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                "200 Delete Successful":
                  description: 200 Delete Successful
                  value:
                    subscriptionDetails:
                      ids:
                      - 3606e1a2-ae85-4676-8fb3-40917cb63bd4
                      status:
                        description: Subscription Deleted.
                        code: SUB1002
                        message: Subscription has been deleted and will no longer
                          send updates to the relevant callback URL
                        value: DELETED
                        timestamp: "1646908272"
                    callbackUrl: https://test-post.free.beeceptor.com/comments
                    subscriptionId: 6141b9bcb65cf749ea893c45
                    type: resourceMonitoringId
              schema:
                $ref: '#/components/schemas/WebhookSubscriptionStatusUpdateResponse'
          description: All good!
        "401":
          content:
            application/json:
              examples:
                Not Authorized:
                  description: Not Authorized
                  value:
                    errors:
                    - message: Not authorised for the access to the endpoint!
                      code: 401
                    errorCount: 1
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorised
        "404":
          content:
            application/json:
              examples:
                "404 Not Found":
                  description: 404 Not Found
                  value:
                    category: Validation Error
                    description: SUB2403 - Subscription 6141b9bcb65cf749ea893c45 does
                      not exist.
                    code: SUB2403
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: You do not currently have any subscriptions
        "500":
          content:
            application/json:
              examples:
                "500 Something went wrong on our side":
                  description: 500 Something went wrong on our side
                  value:
                    path: /v2/webhook/subscription/61406222b65cf749ea893c1a
                    error: Internal Server Error
                    message: No message available
                    timestamp: "1646908272"
                    status: 500
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
          description: Something went wrong on our side
      security:
      - OAuth2_Security_Scheme:
        - overledger/read.scope
      summary: Remove a subscription created by your application
      tags:
      - Manage Subscriptions
      x-accepts: application/json
    patch:
      description: Updates the subscription callback URL and/or the subscription status
        to be either active or track only for the given Subscription ID. Updating
        the status to be track only will pause updates being sent to the requested
        callback URL
      operationId: updateSubscription
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 5010
          minLength: 0
          pattern: ^Bearer [A-Za-z0-9\-_. ]{1,5010}$
          type: string
        style: simple
      - explode: false
        in: path
        name: subscriptionId
        required: true
        schema:
          maxLength: 24
          minLength: 0
          pattern: ^[a-z0-9-]{1,24}$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Update Subscription:
                description: Update Subscription
                summary: Update Subscription
                value:
                  statusUpdate:
                    value: ACTIVE
                  callbackUrl: https://newcallbackUrl/endpoint
            schema:
              $ref: '#/components/schemas/UpdateWebhookSubscriptionRequestSchema'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                "200 Update Success":
                  description: 200 Update Success
                  value:
                    subscriptionDetails:
                      ids:
                      - 73bdc298-525e-4848-9510-5f12a6b43224
                      status:
                        description: SUB1001
                        code: SUB1001
                        message: Subscription existed but is not currently active.
                          Currently only monitoring is in place.
                        value: TRACK ONLY
                        timestamp: "1646908272"
                    callbackUrl: https://test-post.free.beeceptor.com/comments
                    subscriptionId: 61406222b65cf749ea893c1a
                    type: resourceMonitoringId
              schema:
                $ref: '#/components/schemas/WebhookSubscriptionStatusUpdateResponse'
          description: All good!
        "401":
          content:
            application/json:
              examples:
                Not Authorized:
                  description: Not Authorized
                  value:
                    errors:
                    - message: Not authorised for the access to the endpoint!
                      code: 401
                    errorCount: 1
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorised
        "404":
          content:
            application/json:
              examples:
                "404 Not Found":
                  description: 404 Not Found
                  value:
                    category: Validation Error
                    description: SUB2403 - Subscription 61406222b65cf749ea893c1 does
                      not exist.
                    code: SUB2403
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: You do not currently have any subscriptions
        "405":
          content:
            application/json:
              examples:
                "405 Method is not allowed":
                  description: 405 Method is not allowed
                  value:
                    category: Validation Error
                    description: ' SUB2404 - Status cannot be changed from ACTIVE
                      to INACTIVE.'
                    code: SUB2404
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Method is not allowed
        "500":
          content:
            application/json:
              examples:
                "500 Something went wrong on our side":
                  description: 500 Something went wrong on our side
                  value:
                    path: /v2/webhook/subscription/61406222b65cf749ea893c1a
                    error: Internal Server Error
                    message: No message available
                    timestamp: "1646908272"
                    status: 500
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
          description: Something went wrong on our side
      security:
      - OAuth2_Security_Scheme:
        - overledger/read.scope
      summary: Update a specific subscription created by your application
      tags:
      - Manage Subscriptions
      x-contentType: application/json
      x-accepts: application/json
  /v2/preparation/search/address/sequence/{addressId}:
    post:
      description: Perform an address sequence search on the requested DLT.Returns
        a request ID to execute
      operationId: prepareAddressSequenceSearchRequest
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 5010
          minLength: 0
          pattern: ^Bearer [A-Za-z0-9\-_. ]{1,5010}$
          type: string
        style: simple
      - explode: false
        in: path
        name: addressId
        required: true
        schema:
          maxLength: 500
          minLength: 0
          pattern: ^[a-zA-Z0-9:,\/.=\-\s]{1,500}
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Address Sequence Search:
                description: Address Sequence Search
                summary: Address Sequence Search
                value:
                  location:
                    technology: Ethereum
                    network: Ropsten Testnet
            schema:
              $ref: '#/components/schemas/PrepareSearchSchema'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Prepare Response:
                  description: Prepare Response
                  value:
                    gatewayFee:
                      amount: "0"
                      unit: QNT
                    requestId: 13765b06-eaf3-4f02-acb4-b7e9da8b0380
              schema:
                $ref: '#/components/schemas/PrepareSearchResponseSchema'
          description: All good!
        "401":
          content:
            application/json:
              examples:
                Bad Request:
                  description: Bad Request
                  value:
                    errors:
                    - message: Not authorised for the access to the endpoint!
                      code: 401
                    errorCount: 1
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorised
        "500":
          content:
            application/json:
              examples:
                "500 Something went wrong on our side":
                  description: 500 Something went wrong on our side
                  value:
                    path: /v2/preparation/transaction
                    error: Internal Server Error
                    message: No message available
                    timestamp: 2021-09-15T11:26:19.935+0000
                    status: 500
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
          description: Something went wrong on our side
      security:
      - OAuth2_Security_Scheme:
        - overledger/read.scope
      summary: Prepare Search for an Address Sequence.
      tags:
      - Address Search
      x-contentType: application/json
      x-accepts: application/json
  /v2/preparation/transaction:
    post:
      description: "The first step of submitting a transaction to Overledger requires\
        \ preparing the transaction for signing. This API transforms a transaction\
        \ request into a payload that can be signed. It returns a request ID that\
        \ is used to execute the transaction after it is signed.\n\nThere are three\
        \ types of transactions supported:\n* Payment\n    * Send payments in the\
        \ native token of the network\n    * Send payments with ERC20 fungible tokens\
        \ supported by Overledger on Ethereum-compatible networks. To help you test\
        \ ERC20 functionality we have deployed the QNT token on the Ethereum-based\
        \ test networks we support. You can check the request samples to view an example\
        \ of a Smart Contract Invoke which requests test QNT from our faucet contracts.\
        \ Please note that the faucet Smart Contract ID is different for all the test\
        \ networks. Here is a list of faucet ids per network:\n        * Ethereum\
        \ Goerli Testnet: 0x8cFCC46A00d6E9e86aacFa74AC5f74e90Fb6994c \n* Transfer\n\
        \    * Transfer ownership of ERC721 non-fungible tokens supported by Overledger\
        \ on Ethereum\n* Contract Invoke\n    * Call any function on any contract\
        \ deployed on Ethereum, Polygon, XDC Network or our Hyperledger Fabric Sandbox"
      operationId: prepareTransactionRequest_1
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 5010
          minLength: 0
          pattern: ^Bearer [A-Za-z0-9\-_. ]{1,5010}$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Substrate:
                description: Substrate
                summary: Substrate Payment
                value:
                  location:
                    technology: Substrate
                    network: Polkadot Westend Testnet
                  type: PAYMENT
                  urgency: normal
                  requestDetails:
                    destination:
                    - destinationId: 5FLSigC9HGRKVhB9FiEo4Y3koPsNmBmLJbpXg2mp1hXcS59Y
                      payment:
                        amount: "0.0000000001"
                        unit: WND
                    message: OVL Transaction Message
                    overledgerSigningType: overledger-javascript-library
                    origin:
                    - originId: 5GrwvaEF5zXb26Fz9rcQpDWS57CtERHpNehXCPcNoHGKutQY
              ERC20 Payment:
                description: ERC20 Payment
                summary: ERC20 Payment
                value:
                  location:
                    technology: Ethereum
                    network: Ropsten Testnet
                  type: PAYMENT
                  urgency: normal
                  requestDetails:
                    destination:
                    - destinationId: 0xd8b31B65878a6B1a6cAf9f4819C1A42d68a7A116
                      payment:
                        amount: "0.001"
                        unit: QNT
                    message: Example message here
                    overledgerSigningType: overledger-javascript-library
                    origin:
                    - originId: 0x08f0C8451eC8283638F35D863DfFD8c1e1b3E39d
              ERC721 Transfer:
                description: ERC721 Transfer
                summary: ERC721 Transfer
                value:
                  location:
                    technology: Ethereum
                    network: Ropsten Testnet
                  type: Transfer
                  urgency: normal
                  requestDetails:
                    destination:
                    - destinationId: 0x8917cf2A57DF39D311a96c53FCCA76dAFB25392B
                      transfer:
                        tokenId: "6"
                        tokenName: QNTNFT
                    message: Example message here
                    overledgerSigningType: overledger-javascript-library
                    origin:
                    - originId: 0x08f0C8451eC8283638F35D863DfFD8c1e1b3E39d
              Bitcoin:
                description: Bitcoin
                summary: Bitcoin Payment
                value:
                  location:
                    technology: Bitcoin
                    network: Testnet
                  type: payment
                  urgency: normal
                  requestDetails:
                    destination:
                    - destinationId: miArbiuPSMbyZZbetikbkauxDu8Y7ZDhX1
                      payment:
                        amount: "0.01718383"
                        unit: BTC
                    message: sample Message
                    overledgerSigningType: overledger-javascript-library
                    origin:
                    - originId: 3d6e8f9904f53b29fd0791b89ed0cb460485f359808f25f65b35beb8de15a47e:0
              Ethereum:
                description: Ethereum
                summary: Ethereum Payment
                value:
                  location:
                    technology: Ethereum
                    network: Ropsten Testnet
                  type: PAYMENT
                  urgency: normal
                  requestDetails:
                    destination:
                    - destinationId: 0xfD218E9A20400535ffaa8FAe54D07d375B3A3827
                      payment:
                        amount: "0.00001"
                        unit: ETH
                    message: sample Message
                    overledgerSigningType: overledger-javascript-library
                    origin:
                    - originId: 0x03B651d2251eA03cf3ceD600E3B4948303A94BE6
              Smart Contract Invoke:
                description: Smart Contract Invoke
                summary: Smart Contract Invoke
                value:
                  location:
                    technology: Ethereum
                    network: Ropsten Testnet
                  type: Contract Invoke
                  urgency: normal
                  requestDetails:
                    destination:
                    - destinationId: 0xF9cd6C86992Fce1481dBc4bDB7E1b101c1e8cEE2
                      smartContract:
                        function:
                          name: transfer
                          inputParameters:
                          - type: address
                            value: 0xd8b31B65878a6B1a6cAf9f4819C1A42d68a7A116
                          - type: uint256
                            value: "1000000000000000"
                      payment:
                        amount: "0.00"
                        unit: ETH
                    origin:
                    - originId: 0x08f0C8451eC8283638F35D863DfFD8c1e1b3E39d
              Smart Contract Invoke - Getting Test QNT:
                description: Smart Contract Invoke - Getting Test QNT
                summary: Smart Contract Invoke - Getting Test QNT
                value:
                  location:
                    technology: Ethereum
                    network: Ethereum Goerli Testnet
                  type: Contract Invoke
                  urgency: normal
                  requestDetails:
                    destination:
                    - destinationId: 0x8cFCC46A00d6E9e86aacFa74AC5f74e90Fb6994c
                      smartContract:
                        function:
                          name: getTestQNT
                          inputParameters: []
                          outputParameters: []
                      payment:
                        amount: "0.00"
                        unit: ETH
                    origin:
                    - originId: 0x08f0C8451eC8283638F35D863DfFD8c1e1b3E39d
              Polygon:
                description: Polygon
                summary: Polygon Payment
                value:
                  location:
                    technology: Ethereum
                    network: Polygon Mumbai Testnet
                  type: PAYMENT
                  urgency: normal
                  requestDetails:
                    destination:
                    - destinationId: 0xfD218E9A20400535ffaa8FAe54D07d375B3A3827
                      payment:
                        amount: "0.00001"
                        unit: MATIC
                    message: sample Message
                    overledgerSigningType: overledger-javascript-library
                    origin:
                    - originId: 0x03B651d2251eA03cf3ceD600E3B4948303A94BE6
              XRP Ledger:
                description: XRP Ledger
                summary: XRP Ledger Payment
                value:
                  location:
                    technology: XRP Ledger
                    network: Testnet
                  type: payment
                  urgency: normal
                  requestDetails:
                    destination:
                    - destinationId: rKoGTTkPefCuQR31UHsfk9jKnrQHz6LtKe
                      payment:
                        amount: "1"
                        unit: XRP
                    message: sample Message
                    overledgerSigningType: overledger-javascript-library
                    origin:
                    - originId: rhTa8RGotyJQAW8sS2tFVVfvcHYXaps9hC
            schema:
              $ref: '#/components/schemas/PreparePaymentTransactionRequestSchema'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Prepare Response:
                  description: Prepare Response
                  value:
                    gatewayFee:
                      amount: "0"
                      unit: QNT
                    requestId: e566fab4-141d-445e-8c3c-e936c553cc99
                    dltFee:
                      amount: "0.000061839000453486"
                      unit: ETH
                    nativeData:
                      data: 0xa9059cbb000000000000000000000000d8b31b65878a6b1a6caf9f4819c1a42d68a7a11600000000000000000000000000000000000000000000000000038d7ea4c68000
                      chainId: 3
                      gas: "41226"
                      to: 0xF9cd6C86992Fce1481dBc4bDB7E1b101c1e8cEE2
                      nonce: 122
                      value: "0"
                      gasPrice: "1500000011"
              schema:
                $ref: '#/components/schemas/PrepareTransactionResponse'
          description: All good!
        "400":
          content:
            application/json:
              examples:
                Bad Request:
                  description: Bad Request
                  value:
                    category: Validation Error
                    description: Technology data object is required and must be either
                      Ethereum, XRP Ledger or Bitcoin.
                    code: TXN04036
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                Bad Request:
                  description: Bad Request
                  value:
                    errors:
                    - message: Not authorised for the access to the endpoint!
                      code: 401
                    errorCount: 1
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorised
        "500":
          content:
            application/json:
              examples:
                "500 Something went wrong on our side":
                  description: 500 Something went wrong on our side
                  value:
                    path: /v2/preparation/transaction
                    error: Internal Server Error
                    message: No message available
                    timestamp: 2021-09-15T11:26:19.935+0000
                    status: 500
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
          description: Something went wrong on our side
      security:
      - OAuth2_Security_Scheme:
        - overledger/read.scope
      summary: Prepare a DLT transaction for signing
      tags:
      - Create a Transaction
      x-contentType: application/json
      x-accepts: application/json
  /v2/resourcemonitoring/address:
    post:
      description: Overledger creates a tracking record for the given address and
        records information each time the given address receives or sends transactions
        on the DLT
      operationId: resourceMonitoringAddress
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 5010
          minLength: 0
          pattern: ^Bearer [A-Za-z0-9\-_. ]{1,5010}$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Monitor Address:
                description: Monitor Address
                summary: Monitor Address
                value:
                  location:
                    technology: Ethereum
                    network: Ropsten Testnet
                  callBackURL: https://callbackurl/endpoint
                  addressId: 0xd8b31B65878a6B1a6cAf9f4819C1A42d68a7A116
            schema:
              $ref: '#/components/schemas/AddressMonitoringRequestSchema'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Create Resource Monitoring:
                  description: Create Resource Monitoring
                  value:
                    resourceMonitoring:
                      resourceMonitoringId: 42c2452b-6af9-4238-aacf-4669864cd879
                      location:
                        technology: Ethereum
                        network: Ropsten Testnet
                      type: Address
                      timestamp: "1646908272"
                      status:
                        description: Resource Monitoring Successful
                        code: MON1000
                        message: MON1000 - Resource Monitoring has been set up successfully.
                        value: ACTIVE
                        timestamp: "1646908272"
                    subscriptionDetails:
                      ids:
                      - 42c2452b-6af9-4238-aacf-4669864cd879
                      status:
                        description: Subscription Successful.
                        code: SUB1000
                        message: Subscription has been set up successfully and updates
                          will be sent to the relevant callback URL.
                        value: ACTIVE
                        timestamp: "1646908272"
                    subscription:
                      subscriptionId: 614b127f60a15b6def675af3
                      type: resourceMonitoringId
                      callbackUrl: https://test-post.free.beeceptor.com/comments
              schema:
                $ref: '#/components/schemas/AddressMonitoringResponseSchema'
          description: All good!
        "401":
          content:
            application/json:
              examples:
                Not Authorized:
                  description: Not Authorized
                  value:
                    errors:
                    - message: Not authorised for the access to the endpoint!
                      code: 401
                    errorCount: 1
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorised
        "500":
          content:
            application/json:
              examples:
                "500 Something went wrong on our side":
                  description: 500 Something went wrong on our side
                  value:
                    path: /v2/preparation/transaction
                    error: Internal Server Error
                    message: No message available
                    timestamp: 2021-09-15T11:26:19.935+0000
                    status: 500
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
          description: Something went wrong on our side
      security:
      - OAuth2_Security_Scheme:
        - overledger/read.scope
      summary: Monitor an address for incoming and outgoing transactions
      tags:
      - Monitor a Resource
[...]
