=begin
#Quant Overledger API

#Quant's Overledger API allows developers to create applications for multiple DLT's using a single standard set of operations and data structures.In order to maintain the security of private keys, most operations have two steps – prepare and execute. The prepare step is the point at which all arguments are specified and standardised payloads are sent. Overledger converts this standard payload into a DLT-specific transaction object. In the execute step, the SDK signs the transaction object that Overledger created and submits it to Overledger to perform the operation  # Authentication  <!-- ReDoc-Inject: <security-definitions> -->

The version of the OpenAPI document: 2.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.3.0

=end

require 'cgi'

module OpenapiClient
  class UTXOStatusSearchApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Prepare and automatically execute a search for a UTXO on a DLT.
    # Generates a request ID and automatically executes the utxo search on the requested DLT.
    # @param authorization [String] 
    # @param utxo_id [String] 
    # @param prepare_search_schema [PrepareSearchSchema] 
    # @param [Hash] opts the optional parameters
    # @return [AutoExecuteSearchUTXOResponseSchema]
    def auto_execute_search_utxo_request(authorization, utxo_id, prepare_search_schema, opts = {})
      data, _status_code, _headers = auto_execute_search_utxo_request_with_http_info(authorization, utxo_id, prepare_search_schema, opts)
      data
    end

    # Prepare and automatically execute a search for a UTXO on a DLT.
    # Generates a request ID and automatically executes the utxo search on the requested DLT.
    # @param authorization [String] 
    # @param utxo_id [String] 
    # @param prepare_search_schema [PrepareSearchSchema] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AutoExecuteSearchUTXOResponseSchema, Integer, Hash)>] AutoExecuteSearchUTXOResponseSchema data, response status code and response headers
    def auto_execute_search_utxo_request_with_http_info(authorization, utxo_id, prepare_search_schema, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UTXOStatusSearchApi.auto_execute_search_utxo_request ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling UTXOStatusSearchApi.auto_execute_search_utxo_request"
      end
      if @api_client.config.client_side_validation && authorization.to_s.length > 5010
        fail ArgumentError, 'invalid value for "authorization" when calling UTXOStatusSearchApi.auto_execute_search_utxo_request, the character length must be smaller than or equal to 5010.'
      end

      if @api_client.config.client_side_validation && authorization.to_s.length < 0
        fail ArgumentError, 'invalid value for "authorization" when calling UTXOStatusSearchApi.auto_execute_search_utxo_request, the character length must be great than or equal to 0.'
      end

      pattern = Regexp.new(/^Bearer [A-Za-z0-9\-_. ]{1,5010}$/)
      if @api_client.config.client_side_validation && authorization !~ pattern
        fail ArgumentError, "invalid value for 'authorization' when calling UTXOStatusSearchApi.auto_execute_search_utxo_request, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'utxo_id' is set
      if @api_client.config.client_side_validation && utxo_id.nil?
        fail ArgumentError, "Missing the required parameter 'utxo_id' when calling UTXOStatusSearchApi.auto_execute_search_utxo_request"
      end
      if @api_client.config.client_side_validation && utxo_id.to_s.length > 100
        fail ArgumentError, 'invalid value for "utxo_id" when calling UTXOStatusSearchApi.auto_execute_search_utxo_request, the character length must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && utxo_id.to_s.length < 0
        fail ArgumentError, 'invalid value for "utxo_id" when calling UTXOStatusSearchApi.auto_execute_search_utxo_request, the character length must be great than or equal to 0.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9-: ]{1,100}$/)
      if @api_client.config.client_side_validation && utxo_id !~ pattern
        fail ArgumentError, "invalid value for 'utxo_id' when calling UTXOStatusSearchApi.auto_execute_search_utxo_request, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'prepare_search_schema' is set
      if @api_client.config.client_side_validation && prepare_search_schema.nil?
        fail ArgumentError, "Missing the required parameter 'prepare_search_schema' when calling UTXOStatusSearchApi.auto_execute_search_utxo_request"
      end
      # resource path
      local_var_path = '/v2/autoexecution/search/utxo/{utxoId}'.sub('{' + 'utxoId' + '}', CGI.escape(utxo_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prepare_search_schema)

      # return_type
      return_type = opts[:debug_return_type] || 'AutoExecuteSearchUTXOResponseSchema'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2_Security_Scheme']

      new_options = opts.merge(
        :operation => :"UTXOStatusSearchApi.auto_execute_search_utxo_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UTXOStatusSearchApi#auto_execute_search_utxo_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Execute a search for UTXO state on a DLT
    # Takes a request ID, searches for the UTXO state and retrieves the details on the requested DLT. This API is only applicable for Bitcoin.
    # @param authorization [String] 
    # @param request_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ExecuteSearchUTXOResponseSchema]
    def execute_utxo_prepared_search_request(authorization, request_id, opts = {})
      data, _status_code, _headers = execute_utxo_prepared_search_request_with_http_info(authorization, request_id, opts)
      data
    end

    # Execute a search for UTXO state on a DLT
    # Takes a request ID, searches for the UTXO state and retrieves the details on the requested DLT. This API is only applicable for Bitcoin.
    # @param authorization [String] 
    # @param request_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ExecuteSearchUTXOResponseSchema, Integer, Hash)>] ExecuteSearchUTXOResponseSchema data, response status code and response headers
    def execute_utxo_prepared_search_request_with_http_info(authorization, request_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UTXOStatusSearchApi.execute_utxo_prepared_search_request ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling UTXOStatusSearchApi.execute_utxo_prepared_search_request"
      end
      if @api_client.config.client_side_validation && authorization.to_s.length > 5010
        fail ArgumentError, 'invalid value for "authorization" when calling UTXOStatusSearchApi.execute_utxo_prepared_search_request, the character length must be smaller than or equal to 5010.'
      end

      if @api_client.config.client_side_validation && authorization.to_s.length < 0
        fail ArgumentError, 'invalid value for "authorization" when calling UTXOStatusSearchApi.execute_utxo_prepared_search_request, the character length must be great than or equal to 0.'
      end

      pattern = Regexp.new(/^Bearer [A-Za-z0-9\-_. ]{1,5010}$/)
      if @api_client.config.client_side_validation && authorization !~ pattern
        fail ArgumentError, "invalid value for 'authorization' when calling UTXOStatusSearchApi.execute_utxo_prepared_search_request, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'request_id' is set
      if @api_client.config.client_side_validation && request_id.nil?
        fail ArgumentError, "Missing the required parameter 'request_id' when calling UTXOStatusSearchApi.execute_utxo_prepared_search_request"
      end
      if @api_client.config.client_side_validation && request_id.to_s.length > 36
        fail ArgumentError, 'invalid value for "request_id" when calling UTXOStatusSearchApi.execute_utxo_prepared_search_request, the character length must be smaller than or equal to 36.'
      end

      if @api_client.config.client_side_validation && request_id.to_s.length < 0
        fail ArgumentError, 'invalid value for "request_id" when calling UTXOStatusSearchApi.execute_utxo_prepared_search_request, the character length must be great than or equal to 0.'
      end

      pattern = Regexp.new(/^[A-Za-z0-9-]{1,36}$/)
      if @api_client.config.client_side_validation && request_id !~ pattern
        fail ArgumentError, "invalid value for 'request_id' when calling UTXOStatusSearchApi.execute_utxo_prepared_search_request, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/v2/execution/search/utxo'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'requestId'] = request_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ExecuteSearchUTXOResponseSchema'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2_Security_Scheme']

      new_options = opts.merge(
        :operation => :"UTXOStatusSearchApi.execute_utxo_prepared_search_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UTXOStatusSearchApi#execute_utxo_prepared_search_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Prepare Search for a UTXO State.
    # Returns a request ID for executing a search for the status ofa UTXO on UTXO based DLT's
    # @param authorization [String] 
    # @param utxo_id [String] 
    # @param prepare_search_schema [PrepareSearchSchema] 
    # @param [Hash] opts the optional parameters
    # @return [PrepareSearchResponseSchema]
    def prepare_search_utxo_state(authorization, utxo_id, prepare_search_schema, opts = {})
      data, _status_code, _headers = prepare_search_utxo_state_with_http_info(authorization, utxo_id, prepare_search_schema, opts)
      data
    end

    # Prepare Search for a UTXO State.
    # Returns a request ID for executing a search for the status ofa UTXO on UTXO based DLT&#39;s
    # @param authorization [String] 
    # @param utxo_id [String] 
    # @param prepare_search_schema [PrepareSearchSchema] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PrepareSearchResponseSchema, Integer, Hash)>] PrepareSearchResponseSchema data, response status code and response headers
    def prepare_search_utxo_state_with_http_info(authorization, utxo_id, prepare_search_schema, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UTXOStatusSearchApi.prepare_search_utxo_state ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling UTXOStatusSearchApi.prepare_search_utxo_state"
      end
      if @api_client.config.client_side_validation && authorization.to_s.length > 5010
        fail ArgumentError, 'invalid value for "authorization" when calling UTXOStatusSearchApi.prepare_search_utxo_state, the character length must be smaller than or equal to 5010.'
      end

      if @api_client.config.client_side_validation && authorization.to_s.length < 0
        fail ArgumentError, 'invalid value for "authorization" when calling UTXOStatusSearchApi.prepare_search_utxo_state, the character length must be great than or equal to 0.'
      end

      pattern = Regexp.new(/^Bearer [A-Za-z0-9\-_. ]{1,5010}$/)
      if @api_client.config.client_side_validation && authorization !~ pattern
        fail ArgumentError, "invalid value for 'authorization' when calling UTXOStatusSearchApi.prepare_search_utxo_state, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'utxo_id' is set
      if @api_client.config.client_side_validation && utxo_id.nil?
        fail ArgumentError, "Missing the required parameter 'utxo_id' when calling UTXOStatusSearchApi.prepare_search_utxo_state"
      end
      if @api_client.config.client_side_validation && utxo_id.to_s.length > 100
        fail ArgumentError, 'invalid value for "utxo_id" when calling UTXOStatusSearchApi.prepare_search_utxo_state, the character length must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && utxo_id.to_s.length < 0
        fail ArgumentError, 'invalid value for "utxo_id" when calling UTXOStatusSearchApi.prepare_search_utxo_state, the character length must be great than or equal to 0.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9-: ]{1,100}$/)
      if @api_client.config.client_side_validation && utxo_id !~ pattern
        fail ArgumentError, "invalid value for 'utxo_id' when calling UTXOStatusSearchApi.prepare_search_utxo_state, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'prepare_search_schema' is set
      if @api_client.config.client_side_validation && prepare_search_schema.nil?
        fail ArgumentError, "Missing the required parameter 'prepare_search_schema' when calling UTXOStatusSearchApi.prepare_search_utxo_state"
      end
      # resource path
      local_var_path = '/v2/preparation/search/utxo/{utxoId}'.sub('{' + 'utxoId' + '}', CGI.escape(utxo_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prepare_search_schema)

      # return_type
      return_type = opts[:debug_return_type] || 'PrepareSearchResponseSchema'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2_Security_Scheme']

      new_options = opts.merge(
        :operation => :"UTXOStatusSearchApi.prepare_search_utxo_state",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UTXOStatusSearchApi#prepare_search_utxo_state\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
