openapi: 3.0.1
info:
  description: |-
    Quant’s Overledger API allows developers to create applications for multiple DLT’s using a single standard set of operations and data structures.In order to maintain the security of private keys, most operations have two steps – prepare and execute. The prepare step is the point at which all arguments are specified and standardised payloads are sent. Overledger converts this standard payload into a DLT-specific transaction object. In the execute step, the SDK signs the transaction object that Overledger created and submits it to Overledger to perform the operation

    # Authentication

    <!-- ReDoc-Inject: <security-definitions> -->
  title: Quant Overledger API
  version: "2.0"
  x-logo:
    url: https://developer.quant.network/images/quant_logo_white.png
servers:
- url: https://api.sandbox.overledger.io/
tags:
- name: Create Transaction
- name: Transaction Search
- name: mDapp Transaction Query
- name: Monitor a Resource
- name: Manage Monitored Resources
- name: Create Subscription
- name: Manage Subscription
paths:
  /v2/preparation/search/smartcontract:
    post:
      description: Returns a request ID for executing a smart contract read on Ethereum.
      operationId: prepareSmartContractQueryRequest
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 4096
          minLength: 0
          pattern: ^Bearer [A-Za-z0-9\-_. ]{1,4096}$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Smart Contract Search:
                description: Smart Contract Search
                summary: Smart Contract Search
                value:
                  requestDetails:
                    destination:
                    - smartContract:
                        function:
                          name: balanceOf
                          inputParameters:
                          - type: address
                            value: 0x8917cf2A57DF39D311a96c53FCCA76dAFB25392B
                          outputParameters:
                          - type: uint256
                        smartContractId: 0xF9cd6C86992Fce1481dBc4bDB7E1b101c1e8cEE2
                  location:
                    technology: Ethereum
                    network: Ropsten Testnet
            schema:
              $ref: '#/components/schemas/PrepareSearchSmartContractRequestSchema'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Prepare Response:
                  description: Prepare Response
                  value:
                    gatewayFee:
                      amount: "0"
                      unit: QNT
                    requestId: 13765b06-eaf3-4f02-acb4-b7e9da8b0380
              schema:
                $ref: '#/components/schemas/PrepareSearchResponseSchema'
          description: All good!
        "401":
          content:
            application/json:
              examples:
                Bad Request:
                  description: Bad Request
                  value:
                    errors:
                    - code: 401
                      message: Not authorised for the access to the endpoint!
                    errorCount: 1
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorised
        "500":
          content:
            application/json:
              examples:
                "500 Something went wrong on our side":
                  description: 500 Something went wrong on our side
                  value:
                    path: /v2/preparation/transaction
                    error: Internal Server Error
                    message: No message available
                    timestamp: 2021-09-15T11:26:19.935+0000
                    status: 500
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
          description: Something went wrong on our side
      security:
      - OAuth2_Security_Scheme:
        - overledger/read.scope
      summary: Prepare a read of a smart contract on a DLT
      tags:
      - Smart Contract Search
  /v2/execution/search/address/balance:
    post:
      description: Takes a request ID, searches for the address and retrieves the
        balance on the requested DLT. This API is only applicable for account based
        DLTs
      operationId: executePreparedSearchRequestAddressBalance
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 4096
          minLength: 0
          pattern: ^Bearer [A-Za-z0-9\-_. ]{1,4096}$
          type: string
        style: simple
      - explode: true
        in: query
        name: requestId
        required: true
        schema:
          maxLength: 36
          minLength: 0
          pattern: ^[A-Za-z0-9-]{1,36}$
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Execute Response:
                  description: Execute Response
                  value:
                    balances:
                    - unit: ETH
                      value: 4.9971911695538545
                      addressId: 0x650A87cfB9165C9F4Ccc7B971D971f50f753e761
                    location:
                      technology: Ethereum
                      network: Ropsten Testnet
              schema:
                $ref: '#/components/schemas/ExecuteSearchBalanceResponse'
          description: All good!
        "401":
          content:
            application/json:
              examples:
                Not Authorized:
                  description: Not Authorized
                  value:
                    errors:
                    - code: 401
                      message: Not authorised for the access to the endpoint!
                    errorCount: 1
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorised
        "404":
          content:
            application/json:
              examples:
                Bad Request:
                  description: Bad Request
                  value:
                    code: TXN04002
                    description: Request ID 609e2199-db0c-4528-baf3-7392f026dae2 has
                      already been executed.
                    category: Validation Error
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        "500":
          content:
            application/json:
              examples:
                "500 Something went wrong on our side":
                  description: 500 Something went wrong on our side
                  value:
                    path: /v2/preparation/transaction
                    error: Internal Server Error
                    message: No message available
                    timestamp: 2021-09-15T11:26:19.935+0000
                    status: 500
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
          description: Something went wrong on our side
      security:
      - OAuth2_Security_Scheme:
        - overledger/read.scope
      summary: Execute a search for an address balance on a DLT
      tags:
      - Address Search
  /v2/execution/search/smartcontract:
    post:
      description: Takes a request ID and reads the smart contract on Ethereum based
        on the parameters specified in the prepare request.
      operationId: executePreparedSearchRequest
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 4096
          minLength: 0
          pattern: ^Bearer [A-Za-z0-9\-_. ]{1,4096}$
          type: string
        style: simple
      - explode: true
        in: query
        name: requestId
        required: true
        schema:
          maxLength: 36
          minLength: 0
          pattern: ^[A-Za-z0-9-]{1,36}$
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Execute Response:
                  description: Execute Response
                  value:
                    smartContract:
                      function:
                        functionId: 0x70a08231
                        name: balanceOf
                        inputParameters:
                        - type: address
                          value: 0x8917cf2A57DF39D311a96c53FCCA76dAFB25392B
                        outputParameters:
                        - type: uint256
                          value: "141999998900488372232"
                      smartContractId: 0xF9cd6C86992Fce1481dBc4bDB7E1b101c1e8cEE2
                    location:
                      technology: Ethereum
                      network: Ropsten Testnet
              schema:
                $ref: '#/components/schemas/ExecuteSmartContractReadResponseSchema'
          description: All good!
        "401":
          content:
            application/json:
              examples:
                Not Authorized:
                  description: Not Authorized
                  value:
                    errors:
                    - code: 401
                      message: Not authorised for the access to the endpoint!
                    errorCount: 1
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorised
        "404":
          content:
            application/json:
              examples:
                Bad Request:
                  description: Bad Request
                  value:
                    code: TXN04002
                    description: Request ID 609e2199-db0c-4528-baf3-7392f026dae2 has
                      already been executed.
                    category: Validation Error
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        "500":
          content:
            application/json:
              examples:
                "500 Something went wrong on our side":
                  description: 500 Something went wrong on our side
                  value:
                    path: /v2/preparation/transaction
                    error: Internal Server Error
                    message: No message available
                    timestamp: 2021-09-15T11:26:19.935+0000
                    status: 500
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
          description: Something went wrong on our side
      security:
      - OAuth2_Security_Scheme:
        - overledger/read.scope
      summary: Execute a read of a smart contract on a DLT
      tags:
      - Smart Contract Search
  /v2/execution/search/address/sequence:
    post:
      description: Takes a request ID, searches for the address and retrieves the
        sequence on the requested DLT. This API is only applicable for account based
        DLT’s
      operationId: executePreparedSearchRequestAddressSequence
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 4096
          minLength: 0
          pattern: ^Bearer [A-Za-z0-9\-_. ]{1,4096}$
          type: string
        style: simple
      - explode: true
        in: query
        name: requestId
        required: true
        schema:
          maxLength: 36
          minLength: 0
          pattern: ^[A-Za-z0-9-]{1,36}$
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Execute Response:
                  description: Execute Response
                  value:
                    sequence: "1848"
                    location:
                      technology: Ethereum
                      network: Ropsten Testnet
                    addressId: 0x650A87cfB9165C9F4Ccc7B971D971f50f753e761
              schema:
                $ref: '#/components/schemas/ExecuteSearchSequenceResponse'
          description: All good!
        "401":
          content:
            application/json:
              examples:
                Not Authorized:
                  description: Not Authorized
                  value:
                    errors:
                    - code: 401
                      message: Not authorised for the access to the endpoint!
                    errorCount: 1
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorised
        "404":
          content:
            application/json:
              examples:
                Bad Request:
                  description: Bad Request
                  value:
                    code: TXN04002
                    description: Request ID 609e2199-db0c-4528-baf3-7392f026dae2 has
                      already been executed.
                    category: Validation Error
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        "500":
          content:
            application/json:
              examples:
                "500 Something went wrong on our side":
                  description: 500 Something went wrong on our side
                  value:
                    path: /v2/preparation/transaction
                    error: Internal Server Error
                    message: No message available
                    timestamp: 2021-09-15T11:26:19.935+0000
                    status: 500
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
          description: Something went wrong on our side
      security:
      - OAuth2_Security_Scheme:
        - overledger/read.scope
      summary: Execute a search for an address sequence on a DLT
      tags:
      - Address Search
  /v2/execution/search/transaction:
    post:
      description: Takes a request ID and searches for the transaction on the requested
        DLT
      operationId: executePreparedSearchRequestTransaction
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 4096
          minLength: 0
          pattern: ^Bearer [A-Za-z0-9\-_. ]{1,4096}$
          type: string
        style: simple
      - explode: true
        in: query
        name: requestId
        required: true
        schema:
          maxLength: 36
          minLength: 0
          pattern: ^[A-Za-z0-9-]{1,36}$
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Execute Response:
                  description: Execute Response
                  value:
                    location:
                      technology: Ethereum
                      network: Ropsten Testnet
                    type: PAYMENT
                    transaction:
                      signature:
                      - 0xb04ffb9b699a1cf1c9d63d07b16a250ba7d682b07556a4267296a09a0e112cd2
                      - 0x76352abdb2eca00e0390ba70ec822dd6cf081dff302645da04cc5c60c9ccc685
                      - "42"
                      origin:
                      - sequence: "1143"
                        originId: 0x650a87cfb9165c9f4ccc7b971d971f50f753e761
                      destination:
                      - destinationId: 0xb3ea4d180f31b4000f2fbcc58a085ef2ffd5a763
                      totalPaymentAmount:
                      - amount: "0"
                        unit: ETH
                      message: OVL SDK Test
                      transactionId: 0x124b79341eac1dbe05ad66508d0865ef2b64a2af05087457ea015af1e8b34737
                      nativeData:
                        gasRaw: 0x13880
                        blockHash: 0xf4291d3de8b16499523eea3b164d69918d157a4d2d3a5e6995d7d9e4baf4702c
                        transactionIndexRaw: 0x2
                        valueRaw: 0x0
                        transactionIndex: 2
                        nonce: 1143
                        input: 0x4f564c2053444b2054657374
                        gasPriceRaw: 0x1dcd65000
                        r: 0xb04ffb9b699a1cf1c9d63d07b16a250ba7d682b07556a4267296a09a0e112cd2
                        s: 0x76352abdb2eca00e0390ba70ec822dd6cf081dff302645da04cc5c60c9ccc685
                        blockNumberRaw: 0x99bff5
                        nonceRaw: 0x477
                        chainId: 3
                        v: 42
                        blockNumber: 10076149
                        gas: 80000
                        from: 0x650a87cfb9165c9f4ccc7b971d971f50f753e761
                        to: 0xb3ea4d180f31b4000f2fbcc58a085ef2ffd5a763
                        value: 0
                        hash: 0x124b79341eac1dbe05ad66508d0865ef2b64a2af05087457ea015af1e8b34737
                        gasPrice: 8000000000
                    timestamp:
                      nano: 807000000
                      epochSecond: 1618910
                    status:
                      code: TXN1003
                      description: Transaction successful
                      message: Transaction successful
                      value: SUCCESSFUL
                      timestamp: 2021-04-20T09:28:28Z
              schema:
                $ref: '#/components/schemas/ExecuteSearchTransactionResponse'
          description: All good!
        "400":
          content:
            application/json:
              examples:
                Bad Request:
                  description: Bad Request
                  value:
                    code: "400"
                    description: 'java.lang.IllegalArgumentException: Invalid UUID
                      string: 1'
                    category: Constraint Violations
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                Not Authorized:
                  description: Not Authorized
                  value:
                    errors:
                    - code: 401
                      message: Not authorised for the access to the endpoint!
                    errorCount: 1
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorised
        "404":
          content:
            application/json:
              examples:
                Bad Request:
                  description: Bad Request
                  value:
                    code: TXN04002
                    description: Request ID 609e2199-db0c-4528-baf3-7392f026dae2 has
                      already been executed.
                    category: Validation Error
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        "500":
          content:
            application/json:
              examples:
                "500 Something went wrong on our side":
                  description: 500 Something went wrong on our side
                  value:
                    path: /v2/preparation/transaction
                    error: Internal Server Error
                    message: No message available
                    timestamp: 2021-09-15T11:26:19.935+0000
                    status: 500
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
          description: Something went wrong on our side
      security:
      - OAuth2_Security_Scheme:
        - overledger/read.scope
      summary: Execute a search for a transaction on a DLT
      tags:
      - Transaction Search
  /v2/resourcemonitoring/smartcontractevents:
    get:
      description: Returns a list of smart contracts being monitored for your application
        and the corresponding Resource Monitoring ID
      operationId: getListOfSmartContractEvents
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 4096
          minLength: 0
          pattern: ^Bearer [A-Za-z0-9\-_. ]{1,4096}$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                List Resource Monitoring:
                  description: List Resource Monitoring
                  value:
                  - resourceMonitoring:
                      resourceMonitoringId: 808697d9-9383-4841-9d2c-e7880850116a
                      location:
                        technology: Ethereum
                        network: Ropsten
                      type: Address
                      timestamp: 2021-06-09T14:59:15.509Z
                      status:
                        code: MON1001
                        description: Resource Monitoring Inactive
                        message: MON1001 - Resource Monitoring is currently paused.
                        value: INACTIVE
                        timestamp: 2021-06-09T14:59:15.509Z
              schema:
                items:
                  $ref: '#/components/schemas/SmartContractMonitoringSchema'
                type: array
          description: All good!
        "401":
          content:
            application/json:
              examples:
                Not Authorized:
                  description: Not Authorized
                  value:
                    errors:
                    - code: 401
                      message: Not authorised for the access to the endpoint!
                    errorCount: 1
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorised
        "500":
          content:
            application/json:
              examples:
                "500 Something went wrong on our side":
                  description: 500 Something went wrong on our side
                  value:
                    path: /v2/preparation/transaction
                    error: Internal Server Error
                    message: No message available
                    timestamp: 2021-09-15T11:26:19.935+0000
                    status: 500
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
          description: Something went wrong on our side
      security:
      - OAuth2_Security_Scheme:
        - overledger/read.scope
      summary: Retrieve a list of smart contracts being monitored
      tags:
      - Manage Monitored Resources
  /v2/preparation/search/utxo/{utxoId}:
    post:
      description: Returns a request ID for executing a search for the status ofa
        UTXO on UTXO based DLT’s
      operationId: prepareSearchUTXOState
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 4096
          minLength: 0
          pattern: ^Bearer [A-Za-z0-9\-_. ]{1,4096}$
          type: string
        style: simple
      - explode: false
        in: path
        name: utxoId
        required: true
        schema:
          maxLength: 100
          minLength: 0
          pattern: '^[a-zA-Z0-9-: ]{1,100}$'
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              UTXO Transaction Search:
                description: UTXO Transaction Search
                summary: UTXO Transaction Search
                value:
                  location:
                    technology: Bitcoin
                    network: Testnet
            schema:
              $ref: '#/components/schemas/PrepareSearchSchema'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Prepare Response:
                  description: Prepare Response
                  value:
                    gatewayFee:
                      amount: "0"
                      unit: QNT
                    requestId: 13765b06-eaf3-4f02-acb4-b7e9da8b0380
              schema:
                $ref: '#/components/schemas/PrepareSearchResponseSchema'
          description: All good!
        "401":
          content:
            application/json:
              examples:
                Bad Request:
                  description: Bad Request
                  value:
                    errors:
                    - code: 401
                      message: Not authorised for the access to the endpoint!
                    errorCount: 1
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorised
        "500":
          content:
            application/json:
              examples:
                "500 Something went wrong on our side":
                  description: 500 Something went wrong on our side
                  value:
                    path: /v2/preparation/transaction
                    error: Internal Server Error
                    message: No message available
                    timestamp: 2021-09-15T11:26:19.935+0000
                    status: 500
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
          description: Something went wrong on our side
      security:
      - OAuth2_Security_Scheme:
        - overledger/read.scope
      summary: Prepare Search for a UTXO State.
      tags:
      - UTXO Status Search
  /v2/execution/search/block:
    post:
      description: Takes a request ID and searches for the block on the requested
        DLT based on the parameters specified in the prepare request
      operationId: executePreparedSearchRequestBlock
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 4096
          minLength: 0
          pattern: ^Bearer [A-Za-z0-9\-_. ]{1,4096}$
          type: string
        style: simple
      - explode: true
        in: query
        name: requestId
        required: true
        schema:
          maxLength: 36
          minLength: 0
          pattern: ^[A-Za-z0-9-]{1,36}$
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Execute Response:
                  description: Execute Response
                  value:
                    location:
                      technology: Ethereum
                      network: Ropsten Testnet
                    block:
                      blockId: 0xb67dd34c0182e3da1db437914dcac38349a4565177ed1fabf2bf430a10a51002
                      number: 10463066
                      transactionIds:
                      - 0x23f735f928b965338b6106d3a5498d1c917636356cde5eff387be9057a89600a
                      - 0x5be54c39aa333c179780835e71d0aa53ace947e87cbe773f78e01d3ec1d3c2f5
                      - 0xa1d2ffb6fce00c2a88d3ce6009ba2a0292be0833b1a5b44dff29f4f45bf8eb55
                      - 0x24772822aafbecdc13d8b7beb47409c4aedd51d2085f613285c5170b452589b4
                      - 0xe6cbe261766fd39b97a804010ce0ab4a41343435669d0034bfbe4ca148a37a53
                      - 0xf3858d514aecba7269053073f8d8c0c60e28caf5d57862283284e65000d97402
                      - 0x411c05394cc2945dc5db398caa99f1fb298d9e00f169aa951c95df44cf2faec5
                      - 0x035be53f62cf734f9d5b5e24865bdb887972c0eb4fb969a07ddc73548cfd073f
                      - 0x8e652054607f55fb37662e92131f89a4cfe47a434c35dc1773be7617d490e3a0
                      - 0xc522af58fe60a117f253885e25002623e914691ae3ea690a0d001508cb12c27b
                      - 0x4bf99363f2b761178841dfd81d5b0a8685fc93ba79971f04b3985e182207a0dc
                      - 0x84aede3ee9d86ed657af280ed50f81869e93ea5f506460f2b20014cd8b31dc87
                      - 0x7a2553921c527b764e10ded79f0776f982ba655f5a95a8249579a5fe1dd06454
                      - 0x43b7b1e933a7f96bb6071d572b42d2383638a77a4880873d11e4b714cf985242
                      - 0x855e6186a26e5e135de3749379e10e5801174bb5bf731545b468f50c98368b8f
                      - 0x1610909fc0115cfd5f529f7203046897c5efd4edafac704c0fe82ab05a4d546e
                      - 0x4694fbd19645f7f33d9ec20ff3cf94bbc65faaf6af7bcb1661e19055497ba77e
                      - 0xfac3052e8325e6e28b09a787fc10c9f6eba025aa264b9cb3162c269878053bd2
                      - 0x640b80e30e5d52672a7da74ccc3e93ee415e227829d85745b602642ba2361b2e
                      - 0xe9ac6eefeb5e114e11c83a1e8efa014166078514ce80d331f2702ad2473e6a6d
                      size:
                      - type: MEMORY
                        value: "51701"
                      - type: COMPUTATION
                        value: "5283861"
                      hashes:
                      - type: PARENT_HASH
                        value: 0xc8638744e19f70f5cb3f04b5972ba7a66ba1070ec4fe3ccf7bb82976b1d69407
                      - type: BLOCK_HASH
                        value: 0xb67dd34c0182e3da1db437914dcac38349a4565177ed1fabf2bf430a10a51002
                      - type: TRANSACTIONS_MERKLE_ROOT
                        value: 0xd4ab2a26720b544f65e48aaf7fb8c8a334c9b02c6d8ecb6d205907733d399ff1
                      - type: STATE_MERKLE_ROOT
                        value: 0xb442598a07d4c208757d270d73bb2e61c1885039a6c8e8b06a12a6796dac68b4
                      - type: TRANSACTION_RECEIPTS_MERKLE_ROOT
                        value: 0x8c5000c1da750dc69a4fca3c785d1346224982bfef3b3142cb04f2289fce83bb
                      linkedBlocks:
                        parent: 0xc8638744e19f70f5cb3f04b5972ba7a66ba1070ec4fe3ccf7bb82976b1d69407
                        child: 0x64040d7cf80d6f77dd01537bfb765423908fd2e0d7933a0ef5f10a113cf5b89e
                      numberOfTransactions: 20
                      message: 0xdb830302068c4f70656e457468657265756d86312e35312e30826c69
                      timestamp: 1624007506
                      nativeData:
                        logsBloom: 0x01280000010400000000000080004082000000444020400008010100000800100000820000001480000000000000000000000000104200200c0080014820040004060000000840000000000800044060080001084018002000c000008000000802a0800802001082510080000440280800000a0000000000010000120020408000800300030800800044000000410400000004212320802c88008040000060808000000001a000020010000000000000000020022208005000001005000000000000000200c000000400001004805040040000214880001000002200080030002000220800010101020a00000010000004602000000000400021202800080408
                        totalDifficulty: 33823156854004820
                        receiptsRoot: 0x8c5000c1da750dc69a4fca3c785d1346224982bfef3b3142cb04f2289fce83bb
                        extraData: 0xdb830302068c4f70656e457468657265756d86312e35312e30826c69
                        transactions:
                        - 0x23f735f928b965338b6106d3a5498d1c917636356cde5eff387be9057a89600a
                        - 0x5be54c39aa333c179780835e71d0aa53ace947e87cbe773f78e01d3ec1d3c2f5
                        - 0xa1d2ffb6fce00c2a88d3ce6009ba2a0292be0833b1a5b44dff29f4f45bf8eb55
                        - 0x24772822aafbecdc13d8b7beb47409c4aedd51d2085f613285c5170b452589b4
                        - 0xe6cbe261766fd39b97a804010ce0ab4a41343435669d0034bfbe4ca148a37a53
                        - 0xf3858d514aecba7269053073f8d8c0c60e28caf5d57862283284e65000d97402
                        - 0x411c05394cc2945dc5db398caa99f1fb298d9e00f169aa951c95df44cf2faec5
                        - 0x035be53f62cf734f9d5b5e24865bdb887972c0eb4fb969a07ddc73548cfd073f
                        - 0x8e652054607f55fb37662e92131f89a4cfe47a434c35dc1773be7617d490e3a0
                        - 0xc522af58fe60a117f253885e25002623e914691ae3ea690a0d001508cb12c27b
                        - 0x4bf99363f2b761178841dfd81d5b0a8685fc93ba79971f04b3985e182207a0dc
                        - 0x84aede3ee9d86ed657af280ed50f81869e93ea5f506460f2b20014cd8b31dc87
                        - 0x7a2553921c527b764e10ded79f0776f982ba655f5a95a8249579a5fe1dd06454
                        - 0x43b7b1e933a7f96bb6071d572b42d2383638a77a4880873d11e4b714cf985242
                        - 0x855e6186a26e5e135de3749379e10e5801174bb5bf731545b468f50c98368b8f
                        - 0x1610909fc0115cfd5f529f7203046897c5efd4edafac704c0fe82ab05a4d546e
                        - 0x4694fbd19645f7f33d9ec20ff3cf94bbc65faaf6af7bcb1661e19055497ba77e
                        - 0xfac3052e8325e6e28b09a787fc10c9f6eba025aa264b9cb3162c269878053bd2
                        - 0x640b80e30e5d52672a7da74ccc3e93ee415e227829d85745b602642ba2361b2e
                        - 0xe9ac6eefeb5e114e11c83a1e8efa014166078514ce80d331f2702ad2473e6a6d
                        nonce: "13962578926352311470"
                        miner: 0x635b4764d1939dfacd3a8014726159abc277becc
                        difficulty: 1997831755
                        number: 10463066
                        gasLimit: 8000029
                        gasUsed: 5283861
                        uncles: []
                        sha3Uncles: 0x1dcc4de8dec75d7aab85b567b6ccd41ad312451b948a7413f0a142fd40d49347
                        size: 51701
                        transactionsRoot: 0xd4ab2a26720b544f65e48aaf7fb8c8a334c9b02c6d8ecb6d205907733d399ff1
                        stateRoot: 0xb442598a07d4c208757d270d73bb2e61c1885039a6c8e8b06a12a6796dac68b4
                        mixHash: 0xfbbb4da4c5f2bc6c53a220e41a6576e824b6042eca78087b1f32a38edfb244c5
                        parentHash: 0xc8638744e19f70f5cb3f04b5972ba7a66ba1070ec4fe3ccf7bb82976b1d69407
                        hash: 0xb67dd34c0182e3da1db437914dcac38349a4565177ed1fabf2bf430a10a51002
                        timestamp: 1624007506
                    status:
                      code: BLK1003
                      description: Block is confirmed in the blockchain
                      message: Block is successful.
                      value: SUCCESSFUL
                      timestamp: 2021-06-18T09:12:47Z
              schema:
                $ref: '#/components/schemas/ExecuteSearchBlockResponse'
          description: All good!
        "401":
          content:
            application/json:
              examples:
                Not Authorized:
                  description: Not Authorized
                  value:
                    errors:
                    - code: 401
                      message: Not authorised for the access to the endpoint!
                    errorCount: 1
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorised
        "404":
          content:
            application/json:
              examples:
                Bad Request:
                  description: Bad Request
                  value:
                    code: TXN04002
                    description: Request ID 609e2199-db0c-4528-baf3-7392f026dae2 has
                      already been executed.
                    category: Validation Error
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        "500":
          content:
            application/json:
              examples:
                "500 Something went wrong on our side":
                  description: 500 Something went wrong on our side
                  value:
                    path: /v2/preparation/transaction
                    error: Internal Server Error
                    message: No message available
                    timestamp: 2021-09-15T11:26:19.935+0000
                    status: 500
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
          description: Something went wrong on our side
      security:
      - OAuth2_Security_Scheme:
        - overledger/read.scope
      summary: Execute a search for a block on a DLT
      tags:
      - Block Search
  /v2/mdapptransactions:
    get:
      description: Returns a list of transactions and the corresponding Overledger
        Transaction ID your application has created in Overledger. Does not require
        a Prepare step, as this data is held within Overledger, rather than on the
        DLT
      operationId: getOvlTransactionsByClientId
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 4096
          minLength: 0
          pattern: ^Bearer [A-Za-z0-9\-_. ]{1,4096}$
          type: string
        style: simple
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: length
        required: false
        schema:
          default: 25
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                List Overledger Transactions:
                  description: List Overledger Transactions
                  value:
                  - requestId: f5023411-20b6-456d-9966-b01dd5fddb32
                    overledgerTransactionId: c73135fb-7264-4183-93e8-b067f03ecda1
                    location:
                      technology: Ethereum
                      network: Ropsten Testnet
                    transactionId: 0xa9b1529e1f2ebaed7c865b1e24e283f905e0b9cc2a2cbe6ba80b987deb6780db
                    status:
                      code: TXN1003
                      description: Transaction successful
                      message: Transaction successful
                      value: SUCCESSFUL
                      timestamp: 2021-08-06T16:45:53.496463Z
                    timestamp: 2021-08-06T16:42:18.220242Z
                  - requestId: a3a091d3-6718-4e77-afb5-0cd3ffc266bf
                    overledgerTransactionId: c849b101-dd64-4100-a809-7812cf64dbcb
                    location:
                      technology: Ethereum
                      network: Ropsten Testnet
                    transactionId: 0x401ab7fafc12b97d63ec825de6557b8f13b077373e1bb4ded62b4b263c0a2e23
                    status:
                      code: TXN1003
                      description: Transaction successful
                      message: Transaction successful
                      value: SUCCESSFUL
                      timestamp: 2021-08-06T16:46:23.482390Z
                    timestamp: 2021-08-06T16:43:02.644028Z
              schema:
                items:
                  $ref: '#/components/schemas/OverledgerTransactionResponseSchema'
                type: array
          description: All good!
        "401":
          content:
            application/json:
              examples:
                Not Authorized:
                  description: Not Authorized
                  value:
                    errors:
                    - code: 401
                      message: Not authorised for the access to the endpoint!
                    errorCount: 1
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorised
        "500":
          content:
            application/json:
              examples:
                "500 Something went wrong on our side":
                  description: 500 Something went wrong on our side
                  value:
                    path: /v2/mdapptransaction/c849b101-dd64-4100-a809-7812cf64dbcb
                    error: Internal Server Error
                    message: No message available
                    timestamp: 2021-09-15T11:26:19.935+0000
                    status: 500
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
          description: Something went wrong on our side
      security:
      - OAuth2_Security_Scheme:
        - overledger/read.scope
      summary: Retrieve a list of transactions created by your application in Overledger
      tags:
      - mDapp Transaction Query
  /v2/execution/transaction:
    post:
      description: Takes a request ID and submits a signed transaction to the requested
        DLT.
      operationId: executePreparedRequestTransaction
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 4096
          minLength: 0
          pattern: ^Bearer [A-Za-z0-9\-_. ]{1,4096}$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Execute Transaction:
                description: Execute Transaction
                summary: Execute Transaction
                value:
                  requestId: 79763168-a4f9-42bf-9f10-2e08491136a7
                  signed: 0xf8a9398501ef4f86e682a0c294f9cd6c86992fce1481dbc4bdb7e1b101c1e8cee280b844a9059cbb000000000000000000000000d8b31b65878a6b1a6caf9f4819c1a42d68a7a11600000000000000000000000000000000000000000000000000038d7ea4c6800029a088680bffd2eb74053e968ac8bcd1f76beaa61b353d8616a8cc559e57685080bea07a77b7591f09290fbb9cda5263471e8a9ca46f4c7b30d6a4885e583771d809f5
            schema:
              $ref: '#/components/schemas/ExecuteTransactionRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Bitcoin:
                  description: Bitcoin
                  value:
                    urgency: normal
                    requestId: 5d4935ae-d395-4cc7-a7e6-3777127cfd09
                    overledgerTransactionId: ac71c2f4-ab67-434f-b83a-4514ce10847a
                    location:
                      technology: Bitcoin
                      network: Testnet
                    type: payment
                    transactionId: 320034aa1ea43541fcdcfa65ef7e127c19935b532bc59f92ad227370011d9cef
                    status:
                      code: TXN1002
                      description: The transaction has been successfully broadcasted
                        to the network. The status will next be updated after a sufficient
                        block number has been reached. At this point we can be confident
                        that the transaction will be successful or will have failed.
                      message: Transaction is pending.
                      value: PENDING
                      timestamp: 2021-09-16T11:50:15.862784Z
                Ethereum:
                  description: Ethereum
                  value:
                    urgency: normal
                    requestId: 012c6f4e-926e-47b8-b3f0-acfa056cd017
                    overledgerTransactionId: 1f50d3ce-6ede-4540-8f49-1718d9e4a96a
                    location:
                      technology: Ethereum
                      network: Ropsten Testnet
                    type: PAYMENT
                    transactionId: 0x6c497169f22fa420bfb96669960c15ab53caf4d9162f2c0d0a3ff29121773597
                    status:
                      code: TXN1002
                      description: The transaction has been successfully broadcasted
                        to the network. The status will next be updated after a sufficient
                        block number has been reached. At this point we can be confident
                        that the transaction will be successful or will have failed.
                      message: Transaction is pending.
                      value: PENDING
                      timestamp: 2021-09-16T11:43:24.128633Z
                Smart Contract Invoke:
                  description: Smart Contract Invoke
                  value:
                    urgency: normal
                    requestId: 609e2199-db0c-4528-baf3-7392f026dae2
                    overledgerTransactionId: b5c62bda-58cb-47c6-9b21-971f55030881
                    location:
                      technology: Ethereum
                      network: Ropsten Testnet
                    type: Contract Invoke
                    transactionId: 0x5a9b7f8d44ad0bdddf58705cf886b501d6a5a017729d2ca96765a3421e9e84db
                    status:
                      code: TXN1002
                      description: The transaction has been successfully broadcasted
                        to the network. The status will next be updated after a sufficient
                        block number has been reached. At this point we can be confident
                        that the transaction will be successful or will have failed.
                      message: Transaction is pending.
                      value: PENDING
                      timestamp: 2021-09-16T10:23:45.043376Z
                XRP Ledger:
                  description: XRP Ledger
                  value:
                    urgency: normal
                    requestId: df84a5d4-23ea-4390-96a6-965053e1ce04
                    overledgerTransactionId: 9c7cfa58-e07f-4843-ac75-1b356063da9f
                    location:
                      technology: XRP Ledger
                      network: Testnet
                    type: payment
                    transactionId: 8FA814AB243AC4ABB170C4ED3069F4364CA3B0E092C6767192A9D1C8BDE2B67C
                    status:
                      code: TXN1002
                      description: The transaction has been successfully broadcasted
                        to the network. The status will next be updated after a sufficient
                        block number has been reached. At this point we can be confident
                        that the transaction will be successful or will have failed.
                      message: The transaction was applied. Only final in a validated
                        ledger.
                      value: PENDING
                      timestamp: 2021-09-16T11:46:57Z
              schema:
                $ref: '#/components/schemas/ExecuteTransactionResponse'
          description: All good!
        "401":
          content:
            application/json:
              examples:
                Not Authorized:
                  description: Not Authorized
                  value:
                    errors:
                    - code: 401
                      message: Not authorised for the access to the endpoint!
                    errorCount: 1
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorised
        "404":
          content:
            application/json:
              examples:
                Bad Request:
                  description: Bad Request
                  value:
                    code: TXN04002
                    description: Request ID 609e2199-db0c-4528-baf3-7392f026dae2 has
                      already been executed.
                    category: Validation Error
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        "500":
          content:
            application/json:
              examples:
                "500 Something went wrong on our side":
                  description: 500 Something went wrong on our side
                  value:
                    path: /v2/preparation/transaction
                    error: Internal Server Error
                    message: No message available
                    timestamp: 2021-09-15T11:26:19.935+0000
                    status: 500
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
          description: Something went wrong on our side
      security:
      - OAuth2_Security_Scheme:
        - overledger/read.scope
      summary: Execute a transaction on the DLT
      tags:
      - Create Transaction
  /v2/webhook/subscription/{subscriptionId}:
    delete:
      description: Deletes a subscription created by your application based onthe
        given Subscription ID. Deleting a subscription will stop updates being sent
        to the requested callback URL
      operationId: deleteSubscription
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 4096
          minLength: 0
          pattern: ^Bearer [A-Za-z0-9\-_. ]{1,4096}$
          type: string
        style: simple
      - explode: false
        in: path
        name: subscriptionId
        required: true
        schema:
          maxLength: 24
          minLength: 0
          pattern: ^[a-z0-9-]{1,24}$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                "200 Delete Successful":
                  description: 200 Delete Successful
                  value:
                    subscriptionDetails:
                      ids:
                      - 3606e1a2-ae85-4676-8fb3-40917cb63bd4
                      status:
                        code: SUB1002
                        description: Subscription Deleted.
                        message: Subscription has been deleted and will no longer
                          send updates to the relevant callback URL
                        value: DELETED
                        timestamp: 2021-09-15T09:15:40.530993Z
                    callbackUrl: https://test-post.free.beeceptor.com/comments
                    subscriptionId: 6141b9bcb65cf749ea893c45
                    type: resourceMonitoringId
              schema:
                $ref: '#/components/schemas/SubscriptionDeletionResponse'
          description: All good!
        "401":
          content:
            application/json:
              examples:
                Not Authorized:
                  description: Not Authorized
                  value:
                    errors:
                    - code: 401
                      message: Not authorised for the access to the endpoint!
                    errorCount: 1
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorised
        "404":
          content:
            application/json:
              examples:
                "404 Not Found":
                  description: 404 Not Found
                  value:
                    code: SUB2403
                    description: SUB2403 - Subscription 6141b9bcb65cf749ea893c45 does
                      not exist.
                    category: Validation Error
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: You do not currently have any subscriptions
        "500":
          content:
            application/json:
              examples:
                "500 Something went wrong on our side":
                  description: 500 Something went wrong on our side
                  value:
                    path: /v2/webhook/subscription/61406222b65cf749ea893c1a
                    error: Internal Server Error
                    message: No message available
                    timestamp: 2021-09-15T10:40:57.801+0000
                    status: 500
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
          description: Something went wrong on our side
      security:
      - OAuth2_Security_Scheme:
        - overledger/read.scope
      summary: Remove a subscription created by your application
      tags:
      - Manage Subscription
    patch:
      description: Updates the subscription callback URL and/or the subscription status
        to be either active or track only for the given Subscription ID. Updating
        the status to be track only will pause updates being sent to the requested
        callback URL
      operationId: updateSubscription
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 4096
          minLength: 0
          pattern: ^Bearer [A-Za-z0-9\-_. ]{1,4096}$
          type: string
        style: simple
      - explode: false
        in: path
        name: subscriptionId
        required: true
        schema:
          maxLength: 24
          minLength: 0
          pattern: ^[a-z0-9-]{1,24}$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Update Subscription:
                description: Update Subscription
                summary: Update Subscription
                value:
                  statusUpdate:
                    value: ACTIVE
                  callbackUrl: https://newcallbackUrl/endpoint
            schema:
              $ref: '#/components/schemas/UpdateSubscriptionRequestSchema'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                "200 Update Success":
                  description: 200 Update Success
                  value:
                    subscriptionDetails:
                      ids:
                      - 73bdc298-525e-4848-9510-5f12a6b43224
                      status:
                        code: SUB1001
                        description: SUB1001
                        message: Subscription existed but is not currently active.
                          Currently only monitoring is in place.
                        value: TRACK ONLY
                        timestamp: 2021-09-14T08:49:38.741488Z
                    callbackUrl: https://test-post.free.beeceptor.com/comments
                    subscriptionId: 61406222b65cf749ea893c1a
                    type: resourceMonitoringId
              schema:
                $ref: '#/components/schemas/SubscriptionUpdateResponse'
          description: All good!
        "401":
          content:
            application/json:
              examples:
                Not Authorized:
                  description: Not Authorized
                  value:
                    errors:
                    - code: 401
                      message: Not authorised for the access to the endpoint!
                    errorCount: 1
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorised
        "404":
          content:
            application/json:
              examples:
                "404 Not Found":
                  description: 404 Not Found
                  value:
                    code: SUB2403
                    description: SUB2403 - Subscription 61406222b65cf749ea893c1 does
                      not exist.
                    category: Validation Error
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: You do not currently have any subscriptions
        "405":
          content:
            application/json:
              examples:
                "405 Method is not allowed":
                  description: 405 Method is not allowed
                  value:
                    code: SUB2404
                    description: ' SUB2404 - Status cannot be changed from ACTIVE
                      to INACTIVE.'
                    category: Validation Error
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Method is not allowed
        "500":
          content:
            application/json:
              examples:
                "500 Something went wrong on our side":
                  description: 500 Something went wrong on our side
                  value:
                    path: /v2/webhook/subscription/61406222b65cf749ea893c1a
                    error: Internal Server Error
                    message: No message available
                    timestamp: 2021-09-15T10:40:57.801+0000
                    status: 500
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
          description: Something went wrong on our side
      security:
      - OAuth2_Security_Scheme:
        - overledger/read.scope
      summary: Update a specific subscription created by your application
      tags:
      - Manage Subscription
  /v2/preparation/search/address/sequence/{addressId}:
    post:
      description: Perform an address sequence search on the requested DLT.Returns
        a request ID to execute
      operationId: prepareAddressSequenceSearchRequest
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 4096
          minLength: 0
          pattern: ^Bearer [A-Za-z0-9\-_. ]{1,4096}$
          type: string
        style: simple
      - explode: false
        in: path
        name: addressId
        required: true
        schema:
          maxLength: 100
          minLength: 0
          pattern: ^[a-zA-Z0-9]{1,100}$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Address Sequence Search:
                description: Address Sequence Search
                summary: Address Sequence Search
                value:
                  location:
                    technology: Bitcoin
                    network: Testnet
            schema:
              $ref: '#/components/schemas/PrepareSearchSchema'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Prepare Response:
                  description: Prepare Response
                  value:
                    gatewayFee:
                      amount: "0"
                      unit: QNT
                    requestId: 13765b06-eaf3-4f02-acb4-b7e9da8b0380
              schema:
                $ref: '#/components/schemas/PrepareSearchResponseSchema'
          description: All good!
        "401":
          content:
            application/json:
              examples:
                Bad Request:
                  description: Bad Request
                  value:
                    errors:
                    - code: 401
                      message: Not authorised for the access to the endpoint!
                    errorCount: 1
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorised
        "500":
          content:
            application/json:
              examples:
                "500 Something went wrong on our side":
                  description: 500 Something went wrong on our side
                  value:
                    path: /v2/preparation/transaction
                    error: Internal Server Error
                    message: No message available
                    timestamp: 2021-09-15T11:26:19.935+0000
                    status: 500
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
          description: Something went wrong on our side
      security:
      - OAuth2_Security_Scheme:
        - overledger/read.scope
      summary: Prepare Search for an Address Sequence.
      tags:
      - Address Search
  /v2/preparation/transaction:
    post:
      description: Transforms a transaction request into a payload ready for signing
        for the requested DLT and returns a request ID for executing. Supported transaction
        types in this release are “Payment” (to send payments) and “Smart Contract
        Invoke” (to invoke arbitrary smart contract functions)
      operationId: prepareTransactionRequest
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 4096
          minLength: 0
          pattern: ^Bearer [A-Za-z0-9\-_. ]{1,4096}$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              ERC20 Payment:
                description: ERC20 Payment
                summary: ERC20 Payment
                value:
                  urgency: normal
                  requestDetails:
                    overledgerSigningType: overledger-javascript-library
                    origin:
                    - originId: 0x08f0C8451eC8283638F35D863DfFD8c1e1b3E39d
                    destination:
                    - payment:
                        amount: "0.001"
                        unit: QNT
                      destinationId: 0xd8b31B65878a6B1a6cAf9f4819C1A42d68a7A116
                    message: Example message here
                  location:
                    technology: Ethereum
                    network: Ropsten Testnet
                  type: PAYMENT
              ERC721 Transfer:
                description: ERC721 Transfer
                summary: ERC721 Transfer
                value:
                  urgency: normal
                  requestDetails:
                    overledgerSigningType: overledger-javascript-library
                    origin:
                    - originId: 0x08f0C8451eC8283638F35D863DfFD8c1e1b3E39d
                    destination:
                    - transfer:
                        tokenId: "6"
                        tokenName: QNTNFT
                      destinationId: 0x8917cf2A57DF39D311a96c53FCCA76dAFB25392B
                    message: Example message here
                  location:
                    technology: Ethereum
                    network: Ropsten Testnet
                  type: Transfer
              Bitcoin:
                description: Bitcoin
                summary: Bitcoin Payment
                value:
                  urgency: normal
                  requestDetails:
                    overledgerSigningType: overledger-javascript-library
                    origin:
                    - originId: 3d6e8f9904f53b29fd0791b89ed0cb460485f359808f25f65b35beb8de15a47e:0
                    destination:
                    - payment:
                        amount: "0.01718383"
                        unit: BTC
                      destinationId: miArbiuPSMbyZZbetikbkauxDu8Y7ZDhX1
                    message: sample Message
                  location:
                    technology: Bitcoin
                    network: Testnet
                  type: payment
              Ethereum:
                description: Ethereum
                summary: Ethereum Payment
                value:
                  urgency: normal
                  requestDetails:
                    overledgerSigningType: overledger-javascript-library
                    origin:
                    - originId: 0x03B651d2251eA03cf3ceD600E3B4948303A94BE6
                    destination:
                    - payment:
                        amount: "0.00001"
                        unit: ETH
                      destinationId: 0xfD218E9A20400535ffaa8FAe54D07d375B3A3827
                    message: sample Message
                  location:
                    technology: Ethereum
                    network: Ropsten Testnet
                  type: PAYMENT
              Smart Contract Invoke:
                description: Smart Contract Invoke
                summary: Smart Contract Invoke
                value:
                  urgency: normal
                  requestDetails:
                    origin:
                    - originId: 0x08f0C8451eC8283638F35D863DfFD8c1e1b3E39d
                    destination:
                    - smartContract:
                        function:
                          name: transfer
                          inputParameters:
                          - type: address
                            value: 0xd8b31B65878a6B1a6cAf9f4819C1A42d68a7A116
                          - type: uint256
                            value: "1000000000000000"
                      payment:
                        amount: "0.00"
                        unit: ETH
                      destinationId: 0xF9cd6C86992Fce1481dBc4bDB7E1b101c1e8cEE2
                  location:
                    technology: Ethereum
                    network: Ropsten Testnet
                  type: Contract Invoke
              XRP Ledger:
                description: XRP Ledger
                summary: XRP Ledger Payment
                value:
                  urgency: normal
                  requestDetails:
                    overledgerSigningType: overledger-javascript-library
                    origin:
                    - originId: rhTa8RGotyJQAW8sS2tFVVfvcHYXaps9hC
                    destination:
                    - payment:
                        amount: "1"
                        unit: XRP
                      destinationId: rKoGTTkPefCuQR31UHsfk9jKnrQHz6LtKe
                    message: sample Message
                  location:
                    technology: XRP Ledger
                    network: Testnet
                  type: payment
            schema:
              $ref: '#/components/schemas/PreparePaymentTransactionRequestSchema'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Prepare Response:
                  description: Prepare Response
                  value:
                    gatewayFee:
                      amount: "0"
                      unit: QNT
                    requestId: e566fab4-141d-445e-8c3c-e936c553cc99
                    dltFee:
                      amount: "0.000061839000453486"
                      unit: ETH
                    nativeData:
                      data: 0xa9059cbb000000000000000000000000d8b31b65878a6b1a6caf9f4819c1a42d68a7a11600000000000000000000000000000000000000000000000000038d7ea4c68000
                      chainId: 3
                      gas: "41226"
                      to: 0xF9cd6C86992Fce1481dBc4bDB7E1b101c1e8cEE2
                      nonce: 122
                      value: "0"
                      gasPrice: "1500000011"
              schema:
                $ref: '#/components/schemas/PrepareTransactionResponse'
          description: All good!
        "400":
          content:
            application/json:
              examples:
                Bad Request:
                  description: Bad Request
                  value:
                    code: TXN04036
                    description: Technology data object is required and must be either
                      Ethereum, XRP Ledger or Bitcoin.
                    category: Validation Error
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                Bad Request:
                  description: Bad Request
                  value:
                    errors:
                    - code: 401
                      message: Not authorised for the access to the endpoint!
                    errorCount: 1
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorised
        "500":
          content:
            application/json:
              examples:
                "500 Something went wrong on our side":
                  description: 500 Something went wrong on our side
                  value:
                    path: /v2/preparation/transaction
                    error: Internal Server Error
                    message: No message available
                    timestamp: 2021-09-15T11:26:19.935+0000
                    status: 500
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
          description: Something went wrong on our side
      security:
      - OAuth2_Security_Scheme:
        - overledger/read.scope
      summary: Prepare a DLT transaction for signing
      tags:
      - Create Transaction
  /v2/resourcemonitoring/address:
    post:
      description: Overledger creates a tracking record for the given address and
        records information each time the given address receives or sends transactions
        on the DLT
      operationId: resourceMonitoringAddress
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 4096
          minLength: 0
          pattern: ^Bearer [A-Za-z0-9\-_. ]{1,4096}$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Monitor Address:
                description: Monitor Address
                summary: Monitor Address
                value:
                  callBackURL: https://callbackurl/endpoint
                  location:
                    technology: Ethereum
                    network: Ropsten
                  addressId: 0xd8b31B65878a6B1a6cAf9f4819C1A42d68a7A116
            schema:
              $ref: '#/components/schemas/AddressMonitoringRequestSchema'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Create Resource Monitoring:
                  description: Create Resource Monitoring
                  value:
                    subscriptionDetails:
                      ids:
                      - 42c2452b-6af9-4238-aacf-4669864cd879
                      status:
                        code: SUB1000
                        description: Subscription Successful.
                        message: Subscription has been set up successfully and updates
                          will be sent to the relevant callback URL.
                        value: ACTIVE
                        timestamp: 2021-09-22T11:24:47.082521Z
                    resourceMonitoring:
                      resourceMonitoringId: 42c2452b-6af9-4238-aacf-4669864cd879
                      location:
                        technology: Ethereum
                        network: Ropsten
                      type: Address
                      timestamp: 2021-09-22T11:24:46.530619Z
                      status:
                        code: MON1000
                        description: Resource Monitoring Successful
                        message: MON1000 - Resource Monitoring has been set up successfully.
                        value: ACTIVE
                        timestamp: 2021-09-22T11:24:47.176055Z
                    subscription:
                      callbackUrl: https://test-post.free.beeceptor.com/comments
                      subscriptionId: 614b127f60a15b6def675af3
                      type: resourceMonitoringId
              schema:
                $ref: '#/components/schemas/AddressMonitoringResponseSchema'
          description: All good!
        "401":
          content:
            application/json:
              examples:
                Not Authorized:
                  description: Not Authorized
                  value:
                    errors:
                    - code: 401
                      message: Not authorised for the access to the endpoint!
                    errorCount: 1
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorised
        "500":
          content:
            application/json:
              examples:
                "500 Something went wrong on our side":
                  description: 500 Something went wrong on our side
                  value:
                    path: /v2/preparation/transaction
                    error: Internal Server Error
                    message: No message available
                    timestamp: 2021-09-15T11:26:19.935+0000
                    status: 500
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
          description: Something went wrong on our side
      security:
      - OAuth2_Security_Scheme:
        - overledger/read.scope
      summary: Monitor an address for incoming and outgoing transactions
      tags:
      - Monitor a Resource
  /v2/preparation/nativetransaction:
    post:
      description: Allows advanced developers to submit their own DLT native transactions
        via Overledger. Returns a request ID for executing a DLT native transaction
        on the requested DLT
      operationId: prepareNativeTransaction
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 4096
          minLength: 0
          pattern: ^Bearer [A-Za-z0-9\-_. ]{1,4096}$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Native Transaction:
                description: Native Transaction
                summary: Native Transaction
                value:
                  location:
                    technology: Ethereum
                    network: Ropsten Testnet
                  type: Native Transaction
            schema:
              $ref: '#/components/schemas/PrepareNativeTransactionRequestSchema'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Prepare Response:
                  description: Prepare Response
                  value:
                    gatewayFee:
                      amount: "0"
                      unit: QNT
                    requestId: 13765b06-eaf3-4f02-acb4-b7e9da8b0380
              schema:
                $ref: '#/components/schemas/PrepareSearchResponseSchema'
          description: All good!
        "401":
          content:
            application/json:
              examples:
                Bad Request:
                  description: Bad Request
                  value:
                    errors:
                    - code: 401
                      message: Not authorised for the access to the endpoint!
                    errorCount: 1
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorised
        "500":
          content:
            application/json:
              examples:
                "500 Something went wrong on our side":
                  description: 500 Something went wrong on our side
                  value:
                    path: /v2/preparation/transaction
                    error: Internal Server Error
                    message: No message available
                    timestamp: 2021-09-15T11:26:19.935+0000
                    status: 500
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
          description: Something went wrong on our side
      security:
      - OAuth2_Security_Scheme:
        - overledger/read.scope
      summary: Prepare a DLT native transaction
      tags:
      - Create Transaction
  /v2/preparation/search/address/balance/{addressId}:
    post:
      description: Perform an address balance search on the requested DLT. Returns
        a request ID to execute
      operationId: prepareAddressBalanceSearchRequest
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 4096
          minLength: 0
          pattern: ^Bearer [A-Za-z0-9\-_. ]{1,4096}$
          type: string
        style: simple
      - explode: false
        in: path
        name: addressId
        required: true
        schema:
          maxLength: 100
          minLength: 0
          pattern: ^[a-zA-Z0-9]{1,100}$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Address Balance Search:
                description: Address Balance Search
                summary: Address Balance Search
                value:
                  location:
                    technology: Bitcoin
                    network: Testnet
            schema:
              $ref: '#/components/schemas/PrepareSearchSchema'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Prepare Response:
                  description: Prepare Response
                  value:
                    gatewayFee:
                      amount: "0"
                      unit: QNT
                    requestId: 13765b06-eaf3-4f02-acb4-b7e9da8b0380
              schema:
                $ref: '#/components/schemas/PrepareSearchResponseSchema'
          description: All good!
        "401":
          content:
            application/json:
              examples:
                Bad Request:
                  description: Bad Request
                  value:
                    errors:
                    - code: 401
                      message: Not authorised for the access to the endpoint!
                    errorCount: 1
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorised
        "500":
          content:
            application/json:
              examples:
                "500 Something went wrong on our side":
                  description: 500 Something went wrong on our side
                  value:
                    path: /v2/preparation/transaction
                    error: Internal Server Error
                    message: No message available
                    timestamp: 2021-09-15T11:26:19.935+0000
                    status: 500
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
          description: Something went wrong on our side
      security:
      - OAuth2_Security_Scheme:
        - overledger/read.scope
      summary: Prepare Search for an Address Balance.
      tags:
      - Address Search
  /v2/resourcemonitoring:
    get:
      description: Returns a list of all of the resources being monitored for your
        application and the corresponding Resource Monitoring ID
      operationId: getListOfResources
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 4096
          minLength: 0
          pattern: ^Bearer [A-Za-z0-9\-_. ]{1,4096}$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                List Resource Monitoring:
                  description: List Resource Monitoring
                  value:
                  - resourceMonitoring:
                      resourceMonitoringId: 808697d9-9383-4841-9d2c-e7880850116a
                      location:
                        technology: Ethereum
                        network: Ropsten
                      type: Address
                      timestamp: 2021-06-09T14:59:15.509Z
                      status:
                        code: MON1001
                        description: Resource Monitoring Inactive
                        message: MON1001 - Resource Monitoring is currently paused.
                        value: INACTIVE
                        timestamp: 2021-06-09T14:59:15.509Z
              schema:
                items:
                  $ref: '#/components/schemas/SmartContractMonitoringSchema'
                type: array
          description: All good!
        "401":
          content:
            application/json:
              examples:
                Not Authorized:
                  description: Not Authorized
                  value:
                    errors:
                    - code: 401
                      message: Not authorised for the access to the endpoint!
                    errorCount: 1
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorised
        "500":
          content:
            application/json:
              examples:
                "500 Something went wrong on our side":
                  description: 500 Something went wrong on our side
                  value:
                    path: /v2/preparation/transaction
                    error: Internal Server Error
                    message: No message available
                    timestamp: 2021-09-15T11:26:19.935+0000
                    status: 500
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
          description: Something went wrong on our side
      security:
      - OAuth2_Security_Scheme:
        - overledger/read.scope
      summary: Retrieve a list of all resources being monitored
      tags:
      - Manage Monitored Resources
  /v2/resourcemonitoring/smartcontractevent/{resourceMonitoringId}:
    delete:
      description: Deletes the tracking record in Overledger to stop Overledger from
        recording updates for a smart contract based on the given Resource Monitoring
        ID
      operationId: deleteEventMonitoring
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 4096
          minLength: 0
          pattern: ^Bearer [A-Za-z0-9\-_. ]{1,4096}$
          type: string
        style: simple
      - explode: false
        in: path
        name: resourceMonitoringId
        required: true
        schema:
          maxLength: 36
          minLength: 0
          pattern: ^[a-zA-Z0-9-]{1,36}$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Update Monitoring:
                  description: Update Monitoring
                  value:
                    smartContractEventMonitoringDetails:
                      eventName: mul
                      eventParameters: 0xc8a4ac9cf5aac391a07a9bdc2c522f2e824978425be99588f97394814d127214
                      smartContractId: 0x8681d54E454377451D9c6928538DB544Caa65CDf
                    resourceMonitoring:
                      resourceMonitoringId: 27a9dba9-bd0d-4d97-8aa2-373d9c5313c8
                      location:
                        technology: Ethereum
                        network: Ethereum Ropsten Testnet
                      type: Smart Contract Event
                      timestamp: 2021-09-22T12:36:40.050Z
                      status:
                        code: MON1001
                        description: Resource Monitoring Inactive.
                        message: MON1001 - Resource Monitoring is currently paused.
                        value: INACTIVE
                        timestamp: 2021-09-22T12:40:11.910117Z
              schema:
                $ref: '#/components/schemas/SmartContractMonitoringSchema'
          description: All good!
        "401":
          content:
            application/json:
              examples:
                Not Authorized:
                  description: Not Authorized
                  value:
                    errors:
                    - code: 401
                      message: Not authorised for the access to the endpoint!
                    errorCount: 1
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorised
        "500":
          content:
            application/json:
              examples:
                "500 Something went wrong on our side":
                  description: 500 Something went wrong on our side
                  value:
                    path: /v2/preparation/transaction
                    error: Internal Server Error
                    message: No message available
                    timestamp: 2021-09-15T11:26:19.935+0000
                    status: 500
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
          description: Something went wrong on our side
      security:
      - OAuth2_Security_Scheme:
        - overledger/read.scope
      summary: Stop monitoring a smart contract
      tags:
      - Manage Monitored Resources
    get:
      description: Returns the update information recorded in Overledger for asmart
        contract being monitored by your application for a given Resource Monitoring
        ID
      operationId: getMonitoredSmartContractEventDetails
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 4096
          minLength: 0
          pattern: ^Bearer [A-Za-z0-9\-_. ]{1,4096}$
          type: string
        style: simple
      - explode: false
        in: path
        name: resourceMonitoringId
        required: true
        schema:
          maxLength: 36
          minLength: 0
          pattern: ^[a-zA-Z0-9-]{1,36}$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Get Resource Monitoring Details:
                  description: Get Resource Monitoring Details
                  value:
                    smartContractEventHistory: []
                    smartContractEventDetails:
                      eventName: mul
                      eventParameters: 0xc8a4ac9cf5aac391a07a9bdc2c522f2e824978425be99588f97394814d127214
                      smartContractId: 0x8781d54e454377451D9C6928538Db544Caa65CDf
                    location:
                      technology: Ethereum
                      network: Ethereum Ropsten Testnet
                    type: Smart Contract Event
                    status:
                      code: MON1000
                      description: Resource Monitoring Successful
                      message: MON1000 - Resource Monitoring has been set up successfully.
                      value: ACTIVE
                      timestamp: 2021-09-15T15:09:24.279Z
                    timestamp: 2021-09-22T12:46:19.810922Z
              schema:
                $ref: '#/components/schemas/SmartContractMonitoringDetailsSchema'
          description: All good!
        "401":
          content:
            application/json:
              examples:
                Not Authorized:
                  description: Not Authorized
                  value:
                    errors:
                    - code: 401
                      message: Not authorised for the access to the endpoint!
                    errorCount: 1
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorised
        "500":
          content:
            application/json:
              examples:
                "500 Something went wrong on our side":
                  description: 500 Something went wrong on our side
                  value:
                    path: /v2/preparation/transaction
                    error: Internal Server Error
                    message: No message available
                    timestamp: 2021-09-15T11:26:19.935+0000
                    status: 500
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
          description: Something went wrong on our side
      security:
      - OAuth2_Security_Scheme:
        - overledger/read.scope
      summary: Retrieve recorded updates for a specific monitored smart contract
      tags:
      - Manage Monitored Resources
    patch:
      description: Updates the resource monitoring status to be either active or inactive
        for the given Resource Monitoring ID. Updating the status to be inactive will
        pause Overledger recording updates for the requested smart contract
      operationId: updateEventMonitoring
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 4096
          minLength: 0
          pattern: ^Bearer [A-Za-z0-9\-_. ]{1,4096}$
          type: string
        style: simple
      - explode: false
        in: path
        name: resourceMonitoringId
        required: true
        schema:
          maxLength: 36
          minLength: 0
          pattern: ^[a-zA-Z0-9-]{1,36}$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Update Monitoring:
                description: Update Monitoring
                summary: Update Monitoring
                value:
                  statusUpdate:
                    value: INACTIVE
            schema:
              $ref: '#/components/schemas/StatusUpdateMonitoringRequestSchema'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Update Monitoring:
                  description: Update Monitoring
                  value:
                    smartContractEventMonitoringDetails:
                      eventName: mul
                      eventParameters: 0xc8a4ac9cf5aac391a07a9bdc2c522f2e824978425be99588f97394814d127214
                      smartContractId: 0x8681d54E454377451D9c6928538DB544Caa65CDf
                    resourceMonitoring:
                      resourceMonitoringId: 27a9dba9-bd0d-4d97-8aa2-373d9c5313c8
                      location:
                        technology: Ethereum
                        network: Ethereum Ropsten Testnet
                      type: Smart Contract Event
                      timestamp: 2021-09-22T12:36:40.050Z
                      status:
                        code: MON1001
                        description: Resource Monitoring Inactive.
                        message: MON1001 - Resource Monitoring is currently paused.
                        value: INACTIVE
                        timestamp: 2021-09-22T12:40:11.910117Z
              schema:
                $ref: '#/components/schemas/SmartContractMonitoringSchema'
          description: All good!
        "401":
          content:
            application/json:
              examples:
                Not Authorized:
                  description: Not Authorized
                  value:
                    errors:
                    - code: 401
                      message: Not authorised for the access to the endpoint!
                    errorCount: 1
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorised
        "500":
          content:
            application/json:
              examples:
                "500 Something went wrong on our side":
                  description: 500 Something went wrong on our side
                  value:
                    path: /v2/preparation/transaction
                    error: Internal Server Error
                    message: No message available
                    timestamp: 2021-09-15T11:26:19.935+0000
                    status: 500
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
          description: Something went wrong on our side
      security:
      - OAuth2_Security_Scheme:
        - overledger/read.scope
      summary: Update the monitoring status of a smart contract
      tags:
      - Manage Monitored Resources
  /v2/preparation/search/block/{blockId}:
    post:
      description: Returns a request ID for executing a block search on the requested
        DLT. Block searches can be prepared based on the Block ID, Block Number or
        for the latest block at the time
      operationId: prepareSearchBlockByBlockId
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 4096
          minLength: 0
          pattern: ^Bearer [A-Za-z0-9\-_. ]{1,4096}$
          type: string
        style: simple
      - examples:
          Latest Block:
            description: Search latest block
            value: latest
          Number:
            description: Search block by Block ID
            value: 54678
          Block Hash:
            description: Search block by Block Hash
            value: 0x1032d0f10fad4a5ada02960f552063e862e952d7d808ecf43b25a4f26d640a56
        explode: false
        in: path
        name: blockId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Block Search:
                description: Block Search
                summary: Block Search
                value:
                  location:
                    technology: Bitcoin
                    network: Testnet
            schema:
              $ref: '#/components/schemas/PrepareSearchSchema'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Prepare Response:
                  description: Prepare Response
                  value:
                    gatewayFee:
                      amount: "0"
                      unit: QNT
                    requestId: 13765b06-eaf3-4f02-acb4-b7e9da8b0380
              schema:
                $ref: '#/components/schemas/PrepareSearchResponseSchema'
          description: All good!
        "401":
          content:
            application/json:
              examples:
                Bad Request:
                  description: Bad Request
                  value:
                    errors:
                    - code: 401
                      message: Not authorised for the access to the endpoint!
                    errorCount: 1
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorised
        "500":
          content:
            application/json:
              examples:
                "500 Something went wrong on our side":
                  description: 500 Something went wrong on our side
                  value:
                    path: /v2/preparation/transaction
                    error: Internal Server Error
                    message: No message available
                    timestamp: 2021-09-15T11:26:19.935+0000
                    status: 500
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
          description: Something went wrong on our side
      security:
      - OAuth2_Security_Scheme:
        - overledger/read.scope
      summary: Prepare Search Block by Block Id.
      tags:
      - Block Search
  /v2/mdapptransaction/{overledgertransactionid}:
    get:
      description: Returns information for a specific transaction based on a given
        Overledger Transaction ID. Does not require a Prepare step, as this data is
        held within Overledger, rather than on the DLT
      operationId: getOvlTransactionByTxId
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 4096
          minLength: 0
          pattern: ^Bearer [A-Za-z0-9\-_. ]{1,4096}$
          type: string
        style: simple
      - explode: false
        in: path
        name: overledgertransactionid
        required: true
        schema:
          maxLength: 36
          minLength: 0
          pattern: ^[a-zA-Z0-9\-]{1,36}$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Overledger Transaction:
                  description: Overledger Transaction
                  value:
                    clientId: 66vioicl7k3kh99thp3g4vgsl7
                    requestId: a3a091d3-6718-4e77-afb5-0cd3ffc266bf
                    overledgerTransactionId: c849b101-dd64-4100-a809-7812cf64dbcb
                    location:
                      technology: Ethereum
                      network: Ropsten Testnet
                    transactionHistory:
                    - code: TXN1001
                      description: Transaction created
                      message: The transaction was created. It will be updated to
                        Pending if it is handled succesfully by a connector.
                      value: CREATED
                      timestamp: 2021-08-06T16:43:02.644028Z
                    - code: TXN1002
                      description: The transaction has been successfully broadcasted
                        to the network. The status will next be updated after a sufficient
                        block number has been reached. At this point we can be confident
                        that the transaction will be successful or will have failed.
                      message: Transaction is pending.
                      value: PENDING
                      timestamp: 2021-08-06T16:43:03.106891Z
                    - code: TXN1003
                      description: Transaction successful
                      message: Transaction successful
                      value: SUCCESSFUL
                      timestamp: 2021-08-06T16:46:23.482390Z
                    type: Contract Invoke
                    transactionId: 0x401ab7fafc12b97d63ec825de6557b8f13b077373e1bb4ded62b4b263c0a2e23
                    status:
                      code: TXN1003
                      description: Transaction successful
                      message: Transaction successful
                      value: SUCCESSFUL
                      timestamp: 2021-08-06T16:46:23.482390Z
              schema:
                $ref: '#/components/schemas/OverledgerTransactionResponseSchema'
          description: All good!
        "401":
          content:
            application/json:
              examples:
                Not Authorized:
                  description: Not Authorized
                  value:
                    errors:
                    - code: 401
                      message: Not authorised for the access to the endpoint!
                    errorCount: 1
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorised
        "404":
          content:
            application/json:
              examples:
                "404 Not Found":
                  description: 404 Not Found
                  value:
                    code: OTX04001
                    description: Overledger Transaction c849b101-dd64-4100-a809-7812cf64dbcc
                      does not exist.
                    category: Validation Error
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Not Found
        "500":
          content:
            application/json:
              examples:
                "500 Something went wrong on our side":
                  description: 500 Something went wrong on our side
                  value:
                    path: /v2/mdapptransaction/c849b101-dd64-4100-a809-7812cf64dbcb
                    error: Internal Server Error
                    message: No message available
                    timestamp: 2021-09-15T11:26:19.935+0000
                    status: 500
[...]
