/*
 * Quant Overledger API
 * Quant's Overledger API allows developers to create applications for multiple DLT's using a single standard set of operations and data structures.In order to maintain the security of private keys, most operations have two steps – prepare and execute. The prepare step is the point at which all arguments are specified and standardised payloads are sent. Overledger converts this standard payload into a DLT-specific transaction object. In the execute step, the SDK signs the transaction object that Overledger created and submits it to Overledger to perform the operation  # Authentication  <!-- ReDoc-Inject: <security-definitions> -->
 *
 * The version of the OpenAPI document: 2.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package org.openapitools.client.api;

import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import org.openapitools.client.model.AutoExecuteSearchAddressBalanceResponseSchema;
import org.openapitools.client.model.ErrorDetails;
import org.openapitools.client.model.ErrorList;
import org.openapitools.client.model.ExecuteSmartContractReadResponseSchema;
import org.openapitools.client.model.InternalServerErrorSchema;
import org.openapitools.client.model.PrepareSearchResponseSchema;
import org.openapitools.client.model.PrepareSearchSchema;
import org.openapitools.client.model.PrepareSearchSmartContractRequestSchema;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class SmartContractSearchApi {
    private ApiClient localVarApiClient;

    public SmartContractSearchApi() {
        this(Configuration.getDefaultApiClient());
    }

    public SmartContractSearchApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for autoExecuteSearchSmartContractQueryRequest
     * @param authorization  (required)
     * @param prepareSearchSchema  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> All good! </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Bad Request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorised </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Something went wrong on our side </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call autoExecuteSearchSmartContractQueryRequestCall(String authorization, PrepareSearchSchema prepareSearchSchema, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = prepareSearchSchema;

        // create path and map variables
        String localVarPath = "/v2/autoexecution/search/smartcontract";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (authorization != null) {
            localVarHeaderParams.put("Authorization", localVarApiClient.parameterToString(authorization));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "OAuth2_Security_Scheme" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call autoExecuteSearchSmartContractQueryRequestValidateBeforeCall(String authorization, PrepareSearchSchema prepareSearchSchema, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'authorization' is set
        if (authorization == null) {
            throw new ApiException("Missing the required parameter 'authorization' when calling autoExecuteSearchSmartContractQueryRequest(Async)");
        }
        
        // verify the required parameter 'prepareSearchSchema' is set
        if (prepareSearchSchema == null) {
            throw new ApiException("Missing the required parameter 'prepareSearchSchema' when calling autoExecuteSearchSmartContractQueryRequest(Async)");
        }
        

        okhttp3.Call localVarCall = autoExecuteSearchSmartContractQueryRequestCall(authorization, prepareSearchSchema, _callback);
        return localVarCall;

    }

    /**
     * Prepare and automatically execute a search for a smart contract query on a DLT.
     * Generates a request ID and automatically executes the smart contract query search on the requested DLT.
     * @param authorization  (required)
     * @param prepareSearchSchema  (required)
     * @return AutoExecuteSearchAddressBalanceResponseSchema
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> All good! </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Bad Request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorised </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Something went wrong on our side </td><td>  -  </td></tr>
     </table>
     */
    public AutoExecuteSearchAddressBalanceResponseSchema autoExecuteSearchSmartContractQueryRequest(String authorization, PrepareSearchSchema prepareSearchSchema) throws ApiException {
        ApiResponse<AutoExecuteSearchAddressBalanceResponseSchema> localVarResp = autoExecuteSearchSmartContractQueryRequestWithHttpInfo(authorization, prepareSearchSchema);
        return localVarResp.getData();
    }

    /**
     * Prepare and automatically execute a search for a smart contract query on a DLT.
     * Generates a request ID and automatically executes the smart contract query search on the requested DLT.
     * @param authorization  (required)
     * @param prepareSearchSchema  (required)
     * @return ApiResponse&lt;AutoExecuteSearchAddressBalanceResponseSchema&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> All good! </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Bad Request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorised </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Something went wrong on our side </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<AutoExecuteSearchAddressBalanceResponseSchema> autoExecuteSearchSmartContractQueryRequestWithHttpInfo(String authorization, PrepareSearchSchema prepareSearchSchema) throws ApiException {
        okhttp3.Call localVarCall = autoExecuteSearchSmartContractQueryRequestValidateBeforeCall(authorization, prepareSearchSchema, null);
        Type localVarReturnType = new TypeToken<AutoExecuteSearchAddressBalanceResponseSchema>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Prepare and automatically execute a search for a smart contract query on a DLT. (asynchronously)
     * Generates a request ID and automatically executes the smart contract query search on the requested DLT.
     * @param authorization  (required)
     * @param prepareSearchSchema  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> All good! </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Bad Request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorised </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Something went wrong on our side </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call autoExecuteSearchSmartContractQueryRequestAsync(String authorization, PrepareSearchSchema prepareSearchSchema, final ApiCallback<AutoExecuteSearchAddressBalanceResponseSchema> _callback) throws ApiException {

        okhttp3.Call localVarCall = autoExecuteSearchSmartContractQueryRequestValidateBeforeCall(authorization, prepareSearchSchema, _callback);
        Type localVarReturnType = new TypeToken<AutoExecuteSearchAddressBalanceResponseSchema>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for executePreparedSearchRequest
     * @param authorization  (required)
     * @param requestId  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> All good! </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorised </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not Found </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Something went wrong on our side </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call executePreparedSearchRequestCall(String authorization, String requestId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/v2/execution/search/smartcontract";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (requestId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("requestId", requestId));
        }

        if (authorization != null) {
            localVarHeaderParams.put("Authorization", localVarApiClient.parameterToString(authorization));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "OAuth2_Security_Scheme" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call executePreparedSearchRequestValidateBeforeCall(String authorization, String requestId, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'authorization' is set
        if (authorization == null) {
            throw new ApiException("Missing the required parameter 'authorization' when calling executePreparedSearchRequest(Async)");
        }
        
        // verify the required parameter 'requestId' is set
        if (requestId == null) {
            throw new ApiException("Missing the required parameter 'requestId' when calling executePreparedSearchRequest(Async)");
        }
        

        okhttp3.Call localVarCall = executePreparedSearchRequestCall(authorization, requestId, _callback);
        return localVarCall;

    }

    /**
     * Execute a read of a smart contract on a DLT
     * Takes a request ID and reads the smart contract on Ethereum based on the parameters specified in the prepare request.
     * @param authorization  (required)
     * @param requestId  (required)
     * @return ExecuteSmartContractReadResponseSchema
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> All good! </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorised </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not Found </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Something went wrong on our side </td><td>  -  </td></tr>
     </table>
     */
    public ExecuteSmartContractReadResponseSchema executePreparedSearchRequest(String authorization, String requestId) throws ApiException {
        ApiResponse<ExecuteSmartContractReadResponseSchema> localVarResp = executePreparedSearchRequestWithHttpInfo(authorization, requestId);
        return localVarResp.getData();
    }

    /**
     * Execute a read of a smart contract on a DLT
     * Takes a request ID and reads the smart contract on Ethereum based on the parameters specified in the prepare request.
     * @param authorization  (required)
     * @param requestId  (required)
     * @return ApiResponse&lt;ExecuteSmartContractReadResponseSchema&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> All good! </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorised </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not Found </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Something went wrong on our side </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ExecuteSmartContractReadResponseSchema> executePreparedSearchRequestWithHttpInfo(String authorization, String requestId) throws ApiException {
        okhttp3.Call localVarCall = executePreparedSearchRequestValidateBeforeCall(authorization, requestId, null);
        Type localVarReturnType = new TypeToken<ExecuteSmartContractReadResponseSchema>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Execute a read of a smart contract on a DLT (asynchronously)
     * Takes a request ID and reads the smart contract on Ethereum based on the parameters specified in the prepare request.
     * @param authorization  (required)
     * @param requestId  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> All good! </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorised </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not Found </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Something went wrong on our side </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call executePreparedSearchRequestAsync(String authorization, String requestId, final ApiCallback<ExecuteSmartContractReadResponseSchema> _callback) throws ApiException {

        okhttp3.Call localVarCall = executePreparedSearchRequestValidateBeforeCall(authorization, requestId, _callback);
        Type localVarReturnType = new TypeToken<ExecuteSmartContractReadResponseSchema>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for prepareSmartContractQueryRequest
     * @param authorization  (required)
     * @param prepareSearchSmartContractRequestSchema  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> All good! </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorised </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Something went wrong on our side </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call prepareSmartContractQueryRequestCall(String authorization, PrepareSearchSmartContractRequestSchema prepareSearchSmartContractRequestSchema, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = prepareSearchSmartContractRequestSchema;

        // create path and map variables
        String localVarPath = "/v2/preparation/search/smartcontract";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (authorization != null) {
            localVarHeaderParams.put("Authorization", localVarApiClient.parameterToString(authorization));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "OAuth2_Security_Scheme" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call prepareSmartContractQueryRequestValidateBeforeCall(String authorization, PrepareSearchSmartContractRequestSchema prepareSearchSmartContractRequestSchema, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'authorization' is set
        if (authorization == null) {
            throw new ApiException("Missing the required parameter 'authorization' when calling prepareSmartContractQueryRequest(Async)");
        }
        
        // verify the required parameter 'prepareSearchSmartContractRequestSchema' is set
        if (prepareSearchSmartContractRequestSchema == null) {
            throw new ApiException("Missing the required parameter 'prepareSearchSmartContractRequestSchema' when calling prepareSmartContractQueryRequest(Async)");
        }
        

        okhttp3.Call localVarCall = prepareSmartContractQueryRequestCall(authorization, prepareSearchSmartContractRequestSchema, _callback);
        return localVarCall;

    }

    /**
     * Prepare a read of a smart contract on a DLT
     * Returns a request ID for executing a smart contract read on Ethereum.
     * @param authorization  (required)
     * @param prepareSearchSmartContractRequestSchema  (required)
     * @return PrepareSearchResponseSchema
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> All good! </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorised </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Something went wrong on our side </td><td>  -  </td></tr>
     </table>
     */
    public PrepareSearchResponseSchema prepareSmartContractQueryRequest(String authorization, PrepareSearchSmartContractRequestSchema prepareSearchSmartContractRequestSchema) throws ApiException {
        ApiResponse<PrepareSearchResponseSchema> localVarResp = prepareSmartContractQueryRequestWithHttpInfo(authorization, prepareSearchSmartContractRequestSchema);
        return localVarResp.getData();
    }

    /**
     * Prepare a read of a smart contract on a DLT
     * Returns a request ID for executing a smart contract read on Ethereum.
     * @param authorization  (required)
     * @param prepareSearchSmartContractRequestSchema  (required)
     * @return ApiResponse&lt;PrepareSearchResponseSchema&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> All good! </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorised </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Something went wrong on our side </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<PrepareSearchResponseSchema> prepareSmartContractQueryRequestWithHttpInfo(String authorization, PrepareSearchSmartContractRequestSchema prepareSearchSmartContractRequestSchema) throws ApiException {
        okhttp3.Call localVarCall = prepareSmartContractQueryRequestValidateBeforeCall(authorization, prepareSearchSmartContractRequestSchema, null);
        Type localVarReturnType = new TypeToken<PrepareSearchResponseSchema>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Prepare a read of a smart contract on a DLT (asynchronously)
     * Returns a request ID for executing a smart contract read on Ethereum.
     * @param authorization  (required)
     * @param prepareSearchSmartContractRequestSchema  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> All good! </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorised </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Something went wrong on our side </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call prepareSmartContractQueryRequestAsync(String authorization, PrepareSearchSmartContractRequestSchema prepareSearchSmartContractRequestSchema, final ApiCallback<PrepareSearchResponseSchema> _callback) throws ApiException {

        okhttp3.Call localVarCall = prepareSmartContractQueryRequestValidateBeforeCall(authorization, prepareSearchSmartContractRequestSchema, _callback);
        Type localVarReturnType = new TypeToken<PrepareSearchResponseSchema>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
