/*
Quant Overledger API

Quant’s Overledger API allows developers to create applications for multiple DLT’s using a single standard set of operations and data structures.In order to maintain the security of private keys, most operations have two steps – prepare and execute. The prepare step is the point at which all arguments are specified and standardised payloads are sent. Overledger converts this standard payload into a DLT-specific transaction object. In the execute step, the SDK signs the transaction object that Overledger created and submits it to Overledger to perform the operation  # Authentication  <!-- ReDoc-Inject: <security-definitions> -->

API version: 2.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// UTXOStatusSearchApiService UTXOStatusSearchApi service
type UTXOStatusSearchApiService service

type ApiExecuteUTXOPreparedSearchRequestRequest struct {
	ctx _context.Context
	ApiService *UTXOStatusSearchApiService
	authorization *string
	requestId *string
}

func (r ApiExecuteUTXOPreparedSearchRequestRequest) Authorization(authorization string) ApiExecuteUTXOPreparedSearchRequestRequest {
	r.authorization = &authorization
	return r
}
func (r ApiExecuteUTXOPreparedSearchRequestRequest) RequestId(requestId string) ApiExecuteUTXOPreparedSearchRequestRequest {
	r.requestId = &requestId
	return r
}

func (r ApiExecuteUTXOPreparedSearchRequestRequest) Execute() (ExecuteSearchUTXOResponseSchema, *_nethttp.Response, error) {
	return r.ApiService.ExecuteUTXOPreparedSearchRequestExecute(r)
}

/*
ExecuteUTXOPreparedSearchRequest Execute a search for UTXO state on a DLT

Takes a request ID, searches for the UTXO state and retrieves the details on the requested DLT. This API is only applicable for Bitcoin.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiExecuteUTXOPreparedSearchRequestRequest
*/
func (a *UTXOStatusSearchApiService) ExecuteUTXOPreparedSearchRequest(ctx _context.Context) ApiExecuteUTXOPreparedSearchRequestRequest {
	return ApiExecuteUTXOPreparedSearchRequestRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ExecuteSearchUTXOResponseSchema
func (a *UTXOStatusSearchApiService) ExecuteUTXOPreparedSearchRequestExecute(r ApiExecuteUTXOPreparedSearchRequestRequest) (ExecuteSearchUTXOResponseSchema, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  ExecuteSearchUTXOResponseSchema
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UTXOStatusSearchApiService.ExecuteUTXOPreparedSearchRequest")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/execution/search/utxo"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.authorization == nil {
		return localVarReturnValue, nil, reportError("authorization is required and must be specified")
	}
	if strlen(*r.authorization) < 0 {
		return localVarReturnValue, nil, reportError("authorization must have at least 0 elements")
	}
	if strlen(*r.authorization) > 1024 {
		return localVarReturnValue, nil, reportError("authorization must have less than 1024 elements")
	}
	if r.requestId == nil {
		return localVarReturnValue, nil, reportError("requestId is required and must be specified")
	}
	if strlen(*r.requestId) < 0 {
		return localVarReturnValue, nil, reportError("requestId must have at least 0 elements")
	}
	if strlen(*r.requestId) > 36 {
		return localVarReturnValue, nil, reportError("requestId must have less than 36 elements")
	}

	localVarQueryParams.Add("requestId", parameterToString(*r.requestId, ""))
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	localVarHeaderParams["Authorization"] = parameterToString(*r.authorization, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorList
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v InternalServerErrorSchema
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPrepareSearchUTXOStateRequest struct {
	ctx _context.Context
	ApiService *UTXOStatusSearchApiService
	authorization *string
	utxoId string
	prepareSearchSchema *PrepareSearchSchema
}

func (r ApiPrepareSearchUTXOStateRequest) Authorization(authorization string) ApiPrepareSearchUTXOStateRequest {
	r.authorization = &authorization
	return r
}
func (r ApiPrepareSearchUTXOStateRequest) PrepareSearchSchema(prepareSearchSchema PrepareSearchSchema) ApiPrepareSearchUTXOStateRequest {
	r.prepareSearchSchema = &prepareSearchSchema
	return r
}

func (r ApiPrepareSearchUTXOStateRequest) Execute() (PrepareSearchResponseSchema, *_nethttp.Response, error) {
	return r.ApiService.PrepareSearchUTXOStateExecute(r)
}

/*
PrepareSearchUTXOState Prepare Search for a UTXO State.

Returns a request ID for executing a search for the status ofa UTXO on UTXO based DLT’s

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param utxoId
 @return ApiPrepareSearchUTXOStateRequest
*/
func (a *UTXOStatusSearchApiService) PrepareSearchUTXOState(ctx _context.Context, utxoId string) ApiPrepareSearchUTXOStateRequest {
	return ApiPrepareSearchUTXOStateRequest{
		ApiService: a,
		ctx: ctx,
		utxoId: utxoId,
	}
}

// Execute executes the request
//  @return PrepareSearchResponseSchema
func (a *UTXOStatusSearchApiService) PrepareSearchUTXOStateExecute(r ApiPrepareSearchUTXOStateRequest) (PrepareSearchResponseSchema, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  PrepareSearchResponseSchema
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UTXOStatusSearchApiService.PrepareSearchUTXOState")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/preparation/search/utxo/{utxoId}"
	localVarPath = strings.Replace(localVarPath, "{"+"utxoId"+"}", _neturl.PathEscape(parameterToString(r.utxoId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.authorization == nil {
		return localVarReturnValue, nil, reportError("authorization is required and must be specified")
	}
	if strlen(*r.authorization) < 0 {
		return localVarReturnValue, nil, reportError("authorization must have at least 0 elements")
	}
	if strlen(*r.authorization) > 1024 {
		return localVarReturnValue, nil, reportError("authorization must have less than 1024 elements")
	}
	if strlen(r.utxoId) < 0 {
		return localVarReturnValue, nil, reportError("utxoId must have at least 0 elements")
	}
	if strlen(r.utxoId) > 100 {
		return localVarReturnValue, nil, reportError("utxoId must have less than 100 elements")
	}
	if r.prepareSearchSchema == nil {
		return localVarReturnValue, nil, reportError("prepareSearchSchema is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	localVarHeaderParams["Authorization"] = parameterToString(*r.authorization, "")
	// body params
	localVarPostBody = r.prepareSearchSchema
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorList
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v InternalServerErrorSchema
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
