/*
Quant Overledger API

Quant’s Overledger API allows developers to create applications for multiple DLT’s using a single standard set of operations and data structures.In order to maintain the security of private keys, most operations have two steps – prepare and execute. The prepare step is the point at which all arguments are specified and standardised payloads are sent. Overledger converts this standard payload into a DLT-specific transaction object. In the execute step, the SDK signs the transaction object that Overledger created and submits it to Overledger to perform the operation

API version: 2.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
)

// Linger please
var (
	_ _context.Context
)

// FungibleTokenControllerApiService FungibleTokenControllerApi service
type FungibleTokenControllerApiService service

type ApiGetTokenRequest struct {
	ctx _context.Context
	ApiService *FungibleTokenControllerApiService
	technology *string
	network *string
	unit *string
}

func (r ApiGetTokenRequest) Technology(technology string) ApiGetTokenRequest {
	r.technology = &technology
	return r
}
func (r ApiGetTokenRequest) Network(network string) ApiGetTokenRequest {
	r.network = &network
	return r
}
func (r ApiGetTokenRequest) Unit(unit string) ApiGetTokenRequest {
	r.unit = &unit
	return r
}

func (r ApiGetTokenRequest) Execute() (Erc20DTO, *_nethttp.Response, error) {
	return r.ApiService.GetTokenExecute(r)
}

/*
GetToken Method for GetToken

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetTokenRequest
*/
func (a *FungibleTokenControllerApiService) GetToken(ctx _context.Context) ApiGetTokenRequest {
	return ApiGetTokenRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Erc20DTO
func (a *FungibleTokenControllerApiService) GetTokenExecute(r ApiGetTokenRequest) (Erc20DTO, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  Erc20DTO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FungibleTokenControllerApiService.GetToken")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/token/fungible"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.technology == nil {
		return localVarReturnValue, nil, reportError("technology is required and must be specified")
	}
	if r.network == nil {
		return localVarReturnValue, nil, reportError("network is required and must be specified")
	}
	if r.unit == nil {
		return localVarReturnValue, nil, reportError("unit is required and must be specified")
	}

	localVarQueryParams.Add("technology", parameterToString(*r.technology, ""))
	localVarQueryParams.Add("network", parameterToString(*r.network, ""))
	localVarQueryParams.Add("unit", parameterToString(*r.unit, ""))
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
