/*
 * Quant Overledger API
 * Quant's Overledger API allows developers to create applications for multiple DLT's using a single standard set of operations and data structures.In order to maintain the security of private keys, most operations have two steps – prepare and execute. The prepare step is the point at which all arguments are specified and standardised payloads are sent. Overledger converts this standard payload into a DLT-specific transaction object. In the execute step, the SDK signs the transaction object that Overledger created and submits it to Overledger to perform the operation  # Authentication  <!-- ReDoc-Inject: <security-definitions> -->
 *
 * The version of the OpenAPI document: 2.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package org.openapitools.client.api;

import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import org.openapitools.client.model.AutoExecuteSearchBlockResponseSchema;
import org.openapitools.client.model.ErrorDetails;
import org.openapitools.client.model.ErrorList;
import org.openapitools.client.model.ExecuteSearchBlockResponse;
import org.openapitools.client.model.InternalServerErrorSchema;
import org.openapitools.client.model.PrepareSearchResponseSchema;
import org.openapitools.client.model.PrepareSearchSchema;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class BlockSearchApi {
    private ApiClient localVarApiClient;

    public BlockSearchApi() {
        this(Configuration.getDefaultApiClient());
    }

    public BlockSearchApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for autoExecuteSearchBlockRequest
     * @param authorization  (required)
     * @param blockId  (required)
     * @param prepareSearchSchema  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> All good! </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Bad Request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorised </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Something went wrong on our side </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call autoExecuteSearchBlockRequestCall(String authorization, String blockId, PrepareSearchSchema prepareSearchSchema, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = prepareSearchSchema;

        // create path and map variables
        String localVarPath = "/v2/autoexecution/search/block/{blockId}"
            .replaceAll("\\{" + "blockId" + "\\}", localVarApiClient.escapeString(blockId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (authorization != null) {
            localVarHeaderParams.put("Authorization", localVarApiClient.parameterToString(authorization));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "OAuth2_Security_Scheme" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call autoExecuteSearchBlockRequestValidateBeforeCall(String authorization, String blockId, PrepareSearchSchema prepareSearchSchema, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'authorization' is set
        if (authorization == null) {
            throw new ApiException("Missing the required parameter 'authorization' when calling autoExecuteSearchBlockRequest(Async)");
        }
        
        // verify the required parameter 'blockId' is set
        if (blockId == null) {
            throw new ApiException("Missing the required parameter 'blockId' when calling autoExecuteSearchBlockRequest(Async)");
        }
        
        // verify the required parameter 'prepareSearchSchema' is set
        if (prepareSearchSchema == null) {
            throw new ApiException("Missing the required parameter 'prepareSearchSchema' when calling autoExecuteSearchBlockRequest(Async)");
        }
        

        okhttp3.Call localVarCall = autoExecuteSearchBlockRequestCall(authorization, blockId, prepareSearchSchema, _callback);
        return localVarCall;

    }

    /**
     * Prepare and automatically execute a search for a block on a DLT.
     * Generates a request ID and automatically executes the block search on the requested DLT.
     * @param authorization  (required)
     * @param blockId  (required)
     * @param prepareSearchSchema  (required)
     * @return AutoExecuteSearchBlockResponseSchema
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> All good! </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Bad Request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorised </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Something went wrong on our side </td><td>  -  </td></tr>
     </table>
     */
    public AutoExecuteSearchBlockResponseSchema autoExecuteSearchBlockRequest(String authorization, String blockId, PrepareSearchSchema prepareSearchSchema) throws ApiException {
        ApiResponse<AutoExecuteSearchBlockResponseSchema> localVarResp = autoExecuteSearchBlockRequestWithHttpInfo(authorization, blockId, prepareSearchSchema);
        return localVarResp.getData();
    }

    /**
     * Prepare and automatically execute a search for a block on a DLT.
     * Generates a request ID and automatically executes the block search on the requested DLT.
     * @param authorization  (required)
     * @param blockId  (required)
     * @param prepareSearchSchema  (required)
     * @return ApiResponse&lt;AutoExecuteSearchBlockResponseSchema&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> All good! </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Bad Request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorised </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Something went wrong on our side </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<AutoExecuteSearchBlockResponseSchema> autoExecuteSearchBlockRequestWithHttpInfo(String authorization, String blockId, PrepareSearchSchema prepareSearchSchema) throws ApiException {
        okhttp3.Call localVarCall = autoExecuteSearchBlockRequestValidateBeforeCall(authorization, blockId, prepareSearchSchema, null);
        Type localVarReturnType = new TypeToken<AutoExecuteSearchBlockResponseSchema>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Prepare and automatically execute a search for a block on a DLT. (asynchronously)
     * Generates a request ID and automatically executes the block search on the requested DLT.
     * @param authorization  (required)
     * @param blockId  (required)
     * @param prepareSearchSchema  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> All good! </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Bad Request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorised </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Something went wrong on our side </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call autoExecuteSearchBlockRequestAsync(String authorization, String blockId, PrepareSearchSchema prepareSearchSchema, final ApiCallback<AutoExecuteSearchBlockResponseSchema> _callback) throws ApiException {

        okhttp3.Call localVarCall = autoExecuteSearchBlockRequestValidateBeforeCall(authorization, blockId, prepareSearchSchema, _callback);
        Type localVarReturnType = new TypeToken<AutoExecuteSearchBlockResponseSchema>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for executePreparedSearchRequestBlock
     * @param authorization  (required)
     * @param requestId  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> All good! </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorised </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not Found </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Something went wrong on our side </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call executePreparedSearchRequestBlockCall(String authorization, String requestId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/v2/execution/search/block";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (requestId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("requestId", requestId));
        }

        if (authorization != null) {
            localVarHeaderParams.put("Authorization", localVarApiClient.parameterToString(authorization));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "OAuth2_Security_Scheme" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call executePreparedSearchRequestBlockValidateBeforeCall(String authorization, String requestId, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'authorization' is set
        if (authorization == null) {
            throw new ApiException("Missing the required parameter 'authorization' when calling executePreparedSearchRequestBlock(Async)");
        }
        
        // verify the required parameter 'requestId' is set
        if (requestId == null) {
            throw new ApiException("Missing the required parameter 'requestId' when calling executePreparedSearchRequestBlock(Async)");
        }
        

        okhttp3.Call localVarCall = executePreparedSearchRequestBlockCall(authorization, requestId, _callback);
        return localVarCall;

    }

    /**
     * Execute a search for a block on a DLT
     * Takes a request ID and searches for the block on the requested DLT based on the parameters specified in the prepare request
     * @param authorization  (required)
     * @param requestId  (required)
     * @return ExecuteSearchBlockResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> All good! </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorised </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not Found </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Something went wrong on our side </td><td>  -  </td></tr>
     </table>
     */
    public ExecuteSearchBlockResponse executePreparedSearchRequestBlock(String authorization, String requestId) throws ApiException {
        ApiResponse<ExecuteSearchBlockResponse> localVarResp = executePreparedSearchRequestBlockWithHttpInfo(authorization, requestId);
        return localVarResp.getData();
    }

    /**
     * Execute a search for a block on a DLT
     * Takes a request ID and searches for the block on the requested DLT based on the parameters specified in the prepare request
     * @param authorization  (required)
     * @param requestId  (required)
     * @return ApiResponse&lt;ExecuteSearchBlockResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> All good! </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorised </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not Found </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Something went wrong on our side </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ExecuteSearchBlockResponse> executePreparedSearchRequestBlockWithHttpInfo(String authorization, String requestId) throws ApiException {
        okhttp3.Call localVarCall = executePreparedSearchRequestBlockValidateBeforeCall(authorization, requestId, null);
        Type localVarReturnType = new TypeToken<ExecuteSearchBlockResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Execute a search for a block on a DLT (asynchronously)
     * Takes a request ID and searches for the block on the requested DLT based on the parameters specified in the prepare request
     * @param authorization  (required)
     * @param requestId  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> All good! </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorised </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Not Found </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Something went wrong on our side </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call executePreparedSearchRequestBlockAsync(String authorization, String requestId, final ApiCallback<ExecuteSearchBlockResponse> _callback) throws ApiException {

        okhttp3.Call localVarCall = executePreparedSearchRequestBlockValidateBeforeCall(authorization, requestId, _callback);
        Type localVarReturnType = new TypeToken<ExecuteSearchBlockResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for prepareSearchBlockByBlockId
     * @param authorization  (required)
     * @param blockId  (required)
     * @param prepareSearchSchema  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> All good! </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorised </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Something went wrong on our side </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call prepareSearchBlockByBlockIdCall(String authorization, String blockId, PrepareSearchSchema prepareSearchSchema, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = prepareSearchSchema;

        // create path and map variables
        String localVarPath = "/v2/preparation/search/block/{blockId}"
            .replaceAll("\\{" + "blockId" + "\\}", localVarApiClient.escapeString(blockId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (authorization != null) {
            localVarHeaderParams.put("Authorization", localVarApiClient.parameterToString(authorization));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "OAuth2_Security_Scheme" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call prepareSearchBlockByBlockIdValidateBeforeCall(String authorization, String blockId, PrepareSearchSchema prepareSearchSchema, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'authorization' is set
        if (authorization == null) {
            throw new ApiException("Missing the required parameter 'authorization' when calling prepareSearchBlockByBlockId(Async)");
        }
        
        // verify the required parameter 'blockId' is set
        if (blockId == null) {
            throw new ApiException("Missing the required parameter 'blockId' when calling prepareSearchBlockByBlockId(Async)");
        }
        
        // verify the required parameter 'prepareSearchSchema' is set
        if (prepareSearchSchema == null) {
            throw new ApiException("Missing the required parameter 'prepareSearchSchema' when calling prepareSearchBlockByBlockId(Async)");
        }
        

        okhttp3.Call localVarCall = prepareSearchBlockByBlockIdCall(authorization, blockId, prepareSearchSchema, _callback);
        return localVarCall;

    }

    /**
     * Prepare Search Block by Block Id.
     * Returns a request ID for executing a block search on the requested DLT. Block searches can be prepared based on the Block ID, Block Number or for the latest block at the time
     * @param authorization  (required)
     * @param blockId  (required)
     * @param prepareSearchSchema  (required)
     * @return PrepareSearchResponseSchema
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> All good! </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorised </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Something went wrong on our side </td><td>  -  </td></tr>
     </table>
     */
    public PrepareSearchResponseSchema prepareSearchBlockByBlockId(String authorization, String blockId, PrepareSearchSchema prepareSearchSchema) throws ApiException {
        ApiResponse<PrepareSearchResponseSchema> localVarResp = prepareSearchBlockByBlockIdWithHttpInfo(authorization, blockId, prepareSearchSchema);
        return localVarResp.getData();
    }

    /**
     * Prepare Search Block by Block Id.
     * Returns a request ID for executing a block search on the requested DLT. Block searches can be prepared based on the Block ID, Block Number or for the latest block at the time
     * @param authorization  (required)
     * @param blockId  (required)
     * @param prepareSearchSchema  (required)
     * @return ApiResponse&lt;PrepareSearchResponseSchema&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> All good! </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorised </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Something went wrong on our side </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<PrepareSearchResponseSchema> prepareSearchBlockByBlockIdWithHttpInfo(String authorization, String blockId, PrepareSearchSchema prepareSearchSchema) throws ApiException {
        okhttp3.Call localVarCall = prepareSearchBlockByBlockIdValidateBeforeCall(authorization, blockId, prepareSearchSchema, null);
        Type localVarReturnType = new TypeToken<PrepareSearchResponseSchema>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Prepare Search Block by Block Id. (asynchronously)
     * Returns a request ID for executing a block search on the requested DLT. Block searches can be prepared based on the Block ID, Block Number or for the latest block at the time
     * @param authorization  (required)
     * @param blockId  (required)
     * @param prepareSearchSchema  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> All good! </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorised </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Something went wrong on our side </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call prepareSearchBlockByBlockIdAsync(String authorization, String blockId, PrepareSearchSchema prepareSearchSchema, final ApiCallback<PrepareSearchResponseSchema> _callback) throws ApiException {

        okhttp3.Call localVarCall = prepareSearchBlockByBlockIdValidateBeforeCall(authorization, blockId, prepareSearchSchema, _callback);
        Type localVarReturnType = new TypeToken<PrepareSearchResponseSchema>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
