/*
 * Quant Overledger API
 * Quant’s Overledger API allows developers to create applications for multiple DLT’s using a single standard set of operations and data structures.In order to maintain the security of private keys, most operations have two steps – prepare and execute. The prepare step is the point at which all arguments are specified and standardised payloads are sent. Overledger converts this standard payload into a DLT-specific transaction object. In the execute step, the SDK signs the transaction object that Overledger created and submits it to Overledger to perform the operation  # Authentication  <!-- ReDoc-Inject: <security-definitions> -->
 *
 * The version of the OpenAPI document: 2.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package org.openapitools.client.api;

import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import org.openapitools.client.model.AddressMonitoringRequestSchema;
import org.openapitools.client.model.AddressMonitoringResponseSchema;
import org.openapitools.client.model.CreateSmartContractMonitoringSchema;
import org.openapitools.client.model.ErrorList;
import org.openapitools.client.model.InternalServerErrorSchema;
import org.openapitools.client.model.MonitorSmartContractRequestSchema;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class MonitorAResourceApi {
    private ApiClient localVarApiClient;

    public MonitorAResourceApi() {
        this(Configuration.getDefaultApiClient());
    }

    public MonitorAResourceApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for resourceMonitoringAddress
     * @param authorization  (required)
     * @param addressMonitoringRequestSchema  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> All good! </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorised </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Something went wrong on our side </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call resourceMonitoringAddressCall(String authorization, AddressMonitoringRequestSchema addressMonitoringRequestSchema, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = addressMonitoringRequestSchema;

        // create path and map variables
        String localVarPath = "/v2/resourcemonitoring/address";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (authorization != null) {
            localVarHeaderParams.put("Authorization", localVarApiClient.parameterToString(authorization));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "OAuth2_Security_Scheme" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call resourceMonitoringAddressValidateBeforeCall(String authorization, AddressMonitoringRequestSchema addressMonitoringRequestSchema, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'authorization' is set
        if (authorization == null) {
            throw new ApiException("Missing the required parameter 'authorization' when calling resourceMonitoringAddress(Async)");
        }
        
        // verify the required parameter 'addressMonitoringRequestSchema' is set
        if (addressMonitoringRequestSchema == null) {
            throw new ApiException("Missing the required parameter 'addressMonitoringRequestSchema' when calling resourceMonitoringAddress(Async)");
        }
        

        okhttp3.Call localVarCall = resourceMonitoringAddressCall(authorization, addressMonitoringRequestSchema, _callback);
        return localVarCall;

    }

    /**
     * Monitor an address for incoming and outgoing transactions
     * Overledger creates a tracking record for the given address and records information each time the given address receives or sends transactions on the DLT
     * @param authorization  (required)
     * @param addressMonitoringRequestSchema  (required)
     * @return AddressMonitoringResponseSchema
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> All good! </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorised </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Something went wrong on our side </td><td>  -  </td></tr>
     </table>
     */
    public AddressMonitoringResponseSchema resourceMonitoringAddress(String authorization, AddressMonitoringRequestSchema addressMonitoringRequestSchema) throws ApiException {
        ApiResponse<AddressMonitoringResponseSchema> localVarResp = resourceMonitoringAddressWithHttpInfo(authorization, addressMonitoringRequestSchema);
        return localVarResp.getData();
    }

    /**
     * Monitor an address for incoming and outgoing transactions
     * Overledger creates a tracking record for the given address and records information each time the given address receives or sends transactions on the DLT
     * @param authorization  (required)
     * @param addressMonitoringRequestSchema  (required)
     * @return ApiResponse&lt;AddressMonitoringResponseSchema&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> All good! </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorised </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Something went wrong on our side </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<AddressMonitoringResponseSchema> resourceMonitoringAddressWithHttpInfo(String authorization, AddressMonitoringRequestSchema addressMonitoringRequestSchema) throws ApiException {
        okhttp3.Call localVarCall = resourceMonitoringAddressValidateBeforeCall(authorization, addressMonitoringRequestSchema, null);
        Type localVarReturnType = new TypeToken<AddressMonitoringResponseSchema>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Monitor an address for incoming and outgoing transactions (asynchronously)
     * Overledger creates a tracking record for the given address and records information each time the given address receives or sends transactions on the DLT
     * @param authorization  (required)
     * @param addressMonitoringRequestSchema  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> All good! </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorised </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Something went wrong on our side </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call resourceMonitoringAddressAsync(String authorization, AddressMonitoringRequestSchema addressMonitoringRequestSchema, final ApiCallback<AddressMonitoringResponseSchema> _callback) throws ApiException {

        okhttp3.Call localVarCall = resourceMonitoringAddressValidateBeforeCall(authorization, addressMonitoringRequestSchema, _callback);
        Type localVarReturnType = new TypeToken<AddressMonitoringResponseSchema>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for trackAndSubscribeEvent
     * @param authorization  (required)
     * @param monitorSmartContractRequestSchema  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> All good! </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorised </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Something went wrong on our side </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call trackAndSubscribeEventCall(String authorization, MonitorSmartContractRequestSchema monitorSmartContractRequestSchema, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = monitorSmartContractRequestSchema;

        // create path and map variables
        String localVarPath = "/v2/resourcemonitoring/smartcontractevent";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (authorization != null) {
            localVarHeaderParams.put("Authorization", localVarApiClient.parameterToString(authorization));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "OAuth2_Security_Scheme" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call trackAndSubscribeEventValidateBeforeCall(String authorization, MonitorSmartContractRequestSchema monitorSmartContractRequestSchema, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'authorization' is set
        if (authorization == null) {
            throw new ApiException("Missing the required parameter 'authorization' when calling trackAndSubscribeEvent(Async)");
        }
        
        // verify the required parameter 'monitorSmartContractRequestSchema' is set
        if (monitorSmartContractRequestSchema == null) {
            throw new ApiException("Missing the required parameter 'monitorSmartContractRequestSchema' when calling trackAndSubscribeEvent(Async)");
        }
        

        okhttp3.Call localVarCall = trackAndSubscribeEventCall(authorization, monitorSmartContractRequestSchema, _callback);
        return localVarCall;

    }

    /**
     * Monitor a smart contract for an event
     * Overledger creates a tracking record for the given smart contract and records information each time a transaction on the DLT triggers a specific event
     * @param authorization  (required)
     * @param monitorSmartContractRequestSchema  (required)
     * @return CreateSmartContractMonitoringSchema
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> All good! </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorised </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Something went wrong on our side </td><td>  -  </td></tr>
     </table>
     */
    public CreateSmartContractMonitoringSchema trackAndSubscribeEvent(String authorization, MonitorSmartContractRequestSchema monitorSmartContractRequestSchema) throws ApiException {
        ApiResponse<CreateSmartContractMonitoringSchema> localVarResp = trackAndSubscribeEventWithHttpInfo(authorization, monitorSmartContractRequestSchema);
        return localVarResp.getData();
    }

    /**
     * Monitor a smart contract for an event
     * Overledger creates a tracking record for the given smart contract and records information each time a transaction on the DLT triggers a specific event
     * @param authorization  (required)
     * @param monitorSmartContractRequestSchema  (required)
     * @return ApiResponse&lt;CreateSmartContractMonitoringSchema&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> All good! </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorised </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Something went wrong on our side </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<CreateSmartContractMonitoringSchema> trackAndSubscribeEventWithHttpInfo(String authorization, MonitorSmartContractRequestSchema monitorSmartContractRequestSchema) throws ApiException {
        okhttp3.Call localVarCall = trackAndSubscribeEventValidateBeforeCall(authorization, monitorSmartContractRequestSchema, null);
        Type localVarReturnType = new TypeToken<CreateSmartContractMonitoringSchema>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Monitor a smart contract for an event (asynchronously)
     * Overledger creates a tracking record for the given smart contract and records information each time a transaction on the DLT triggers a specific event
     * @param authorization  (required)
     * @param monitorSmartContractRequestSchema  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> All good! </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorised </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Something went wrong on our side </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call trackAndSubscribeEventAsync(String authorization, MonitorSmartContractRequestSchema monitorSmartContractRequestSchema, final ApiCallback<CreateSmartContractMonitoringSchema> _callback) throws ApiException {

        okhttp3.Call localVarCall = trackAndSubscribeEventValidateBeforeCall(authorization, monitorSmartContractRequestSchema, _callback);
        Type localVarReturnType = new TypeToken<CreateSmartContractMonitoringSchema>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
